*.pyc
__pycache__/


postgres/data/*
!postgres/data/.keep

nextcloud/html/*
!nextcloud/html/.keep

web/logs/*
web/upload/*
web/instance/.env

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
venv/

docker-compose-web-auth-local.yml
.env
web.env
celery.env
nextcloud.env
web-ecoles.env
web-colleges.env
web-lycees.env
web-agents.env
web-webinaire.env
web-local.env
*.swp

messages.mo
