---
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.14.13'
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^(postgres/|nextcloud/|keycloak/)
      - id: ruff-format
        exclude: ^(postgres/|nextcloud/|keycloak/)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: fix-byte-order-marker
        exclude: ^(postgres/|nextcloud/|keycloak/)
      - id: trailing-whitespace
        exclude: "^(postgres/|nextcloud/|keycloak/)|\\.svg$|\\.map$|\\.min\\.css$|\\.min\\.js$|\\.po$|\\.pot$"
      - id: end-of-file-fixer
        exclude: "^(postgres/|nextcloud/|keycloak/)|\\.svg$|\\.map$|\\.min\\.css$|\\.min\\.js$|\\.po$|\\.pot$"
      - id: check-toml
        exclude: ^(postgres/|nextcloud/|keycloak/)
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.10
    hooks:
      - id: djhtml
        exclude: ^(postgres/|nextcloud/|keycloak/)
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [
          "--verbose",
        ]
  - repo: local
    hooks:
      - id: translation-extract
        name: Extract translation messages
        entry: bash -c 'uv run pybabel extract --omit-header --mapping-file pyproject.toml --output-file web/translations/messages.pot --keywords lazy_gettext web && git add web/translations/messages.pot'
        language: system
        files: ^web/.*\.(py|html)$
        pass_filenames: false
