---
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.14.6'
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^(postgres/|nextcloud/|keycloak/)
      - id: ruff-format
        exclude: ^(postgres/|nextcloud/|keycloak/)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: fix-byte-order-marker
        exclude: ^(postgres/|nextcloud/|keycloak/)
      - id: trailing-whitespace
        exclude: "^(postgres/|nextcloud/|keycloak/)|\\.svg$|\\.map$|\\.min\\.css$|\\.min\\.js$|\\.po$|\\.pot$"
      - id: end-of-file-fixer
        exclude: "^(postgres/|nextcloud/|keycloak/)|\\.svg$|\\.map$|\\.min\\.css$|\\.min\\.js$|\\.po$|\\.pot$"
      - id: check-toml
        exclude: ^(postgres/|nextcloud/|keycloak/)
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.10
    hooks:
      - id: djhtml
        exclude: ^(postgres/|nextcloud/|keycloak/)
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [
          "--verbose",
        ]
