  # These containers are the one needed to make the app work
  # Other container are available in docker-compose.override.yml if needed
  # see documentation [link] for more info

services:
  web:
    container_name: web
    build:
      context: ./web
      dockerfile: Dockerfile
      additional_contexts:
        root: .
    # env_file:
    #   - web.env
    environment:
      - FLASK_APP=b3desk
    volumes:
      - ./web/logs:/var/log
      - ./web/conf:/opt/bbb-visio/conf
      - ./web/b3desk:/opt/bbb-visio/b3desk
      - ./web/instance:/opt/bbb-visio/instance
      - ./web/migrations:/opt/bbb-visio/migrations
      - ./web/translations:/opt/bbb-visio/translations
    ports:
      - 5000:5000

  worker:
    container_name: worker
    depends_on:
      - broker
    build:
      context: ./web
      dockerfile: Dockerfile-celery
      additional_contexts:
        root: .
    # env_file:
    #   - web.env  # to get shared REDIS_URL
    # WORKER NEEDS TO HAVE REDIS_URL ENV VAR SET, either by shared.env or web.env
    environment:
      - APP=tasks.celery
    volumes:
      - ./web/b3desk:/usr/src/app
    command: celery --app tasks.celery worker --loglevel=info

  broker:
    container_name: broker
    image: redis:6-alpine
    healthcheck:
      test: [ "CMD-SHELL", "redis-cli ping | grep PONG" ]
      start_period: 5s
