# App Configuration
FLASK_DEBUG=True
SECRET_KEY=SomethingNotEntirelySecret
TITLE=BBB-Visio
SERVER_FQDN=http://localhost:5000
WTF_CSRF_TIME_LIMIT=3600
STATS_URL=http://localhost:5000/static/local/stats.csv

# Links Configuration
DOCUMENTATION_LINK_URL=/documentation
DOCUMENTATION_LINK_LABEL=Documentation
SERVICE_TITLE=Webinaire
SERVICE_TAGLINE=Le service de webinaire

MEETING_LOGOUT_URL=
SATISFACTION_POLL_URL=https://dinum.evalandgo.com/s/index.php?id=JTk4ciU5Mm0lOTclQjE=&a=JTk2byU5NmglOUUlQUI=

WORDING_MEETING_PRESENTATION=présentation
WORDING_UPLOAD_FILE=envoyer

# Variante française
MEETING_KEY_WORDING=seminaire

# Database Configuration
SQLALCHEMY_DATABASE_URI=postgresql://postgres:Pa55w0rd@postgres:5432/bbb_visio

# Big Blue Button Configuration
BIGBLUEBUTTON_ENDPOINT=https://bbb26.test/bigbluebutton/api
BIGBLUEBUTTON_SECRET=unknownBbbSecretKey

# Default OIDC Configuration
OIDC_ISSUER=http://keycloak:8080/auth/realms/apps
# OIDC_AUTH_URI=http://keycloak:8080/auth/realms/apps/protocol/openid-connect/auth
OIDC_CLIENT_ID=bbb-visio
OIDC_CLIENT_SECRET=e873443f-47cd-43a4-bae1-07ee1ade68c6
OIDC_CLIENT_AUTH_METHOD=client_secret_post
# OIDC_USERINFO_URI=http://keycloak:8080/auth/realms/apps/protocol/openid-connect/userinfo
# OIDC_TOKEN_URI=http://keycloak:8080/auth/realms/apps/protocol/openid-connect/token
# OIDC_TOKEN_INTROSPECTION_URI=http://keycloak:8080/auth/realms/apps/protocol/openid-connect/token/introspect
OIDC_OPENID_REALM=apps
OIDC_USERINFO_HTTP_METHOD=POST
OIDC_REDIRECT_URI=http://localhost:5000/oidc_callback

# Attendee OIDC Configuration (back to default if empty)
OIDC_ATTENDEE_ENABLED=true
OIDC_ATTENDEE_ISSUER=
OIDC_ATTENDEE_CLIENT_ID=
OIDC_ATTENDEE_CLIENT_SECRET=
OIDC_ATTENDEE_CLIENT_AUTH_METHOD=
OIDC_ATTENDEE_USERINFO_HTTP_METHOD=
OIDC_ATTENDEE_SERVICE_NAME=Agent Connect

# Quick meeting configuration
QUICK_MEETING_LOGOUT_URL=http://education.gouv.fr
CLIPBOARD=on
RECORDING=on
BETA=on
MAIL_MEETING=on
SMTP_FROM=secretariat@incubateur.net
SMTP_HOST=0.0.0.0
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_SSL=false
EMAIL_WHITELIST=.*@(.*\.|)gouv\.fr
RIE_NETWORK_IPS=192.168.0.0/16,172.16.0.0/12,127.0.0.0/16
BIGBLUEBUTTON_ANALYTICS_CALLBACK_URL=https://bbb-analytics-staging.osc-fr1.scalingo.io/v1/post_events

# Nextcloud and meeting Files connection configuration
ALLOWED_MIME_TYPES_SERVER_SIDE='["application/pdf", "image/vnd.dwg", "image/x-xcf", "image/jpeg", "image/jpx", "image/png", "image/apng", "image/gif", "image/webp", "image/x-canon-cr2", "image/tiff", "image/bmp", "image/vnd.ms-photo", "image/vnd.adobe.photoshop", "image/x-icon", "image/heic", "image/avif", "application/msword", "application/vnd.openxmlformats-officedocument.wordprocessingml.document", "application/vnd.oasis.opendocument.text", "application/vnd.ms-excel", "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet", "application/vnd.oasis.opendocument.spreadsheet", "application/vnd.ms-powerpoint", "application/vnd.openxmlformats-officedocument.presentationml.presentation", "application/vnd.oasis.opendocument.presentation"]'
ACCEPTED_FILES_CLIENT_SIDE="image/*,.pdf,.doc,.docx,.htm,.html,..odp,.ods,.odt,.ppt,.pptx,.xls,.xlsx"
EXTERNAL_UPLOAD_DESCRIPTION=Fichiers depuis votre Nextcloud
NC_LOGIN_TIMEDELTA_DAYS=30  # how long the nextcloud credentials can last before asking for new ones (in days)
TMP_DOWNLOAD_DIR=/tmp/download/  # used when retrieving files from remote Nextcloud to send to BBB
MAX_SIZE_UPLOAD=20000000
TIME_FORMAT=%Y-%m-%d
UPLOAD_DIR=/tmp/b3desk/  # used by dropzone to upload files
FORCE_HTTPS_ON_EXTERNAL_URLS=off
NC_LOGIN_API_URL=http://tokenmock:80/index.php  # nextcloud token provider endpoint (currently pointing toward related service in docker network)
NC_LOGIN_API_KEY=MY-TOTALLY-COOL-API-KEY  # SHARED between web and tokenmock services as nextcloud credentials
NEXTCLOUD_SESSIONTOKEN_KEY=megatokengeneratedatleast64long  # SHARED between nextcloud (sessiontoken app) and tokenmock services
REDIS_URL=broker:6379  # SHARED between worker and web services, used for background file management (currently pointing toward related service in docker network)

# Feature flags
FILE_SHARING=on
