{% extends 'static-layout.html' %}

{% block main %}
<div id="doc">
    <h1>{% trans %}Accessibilité{% endtrans %}</h1>
    <p>{% trans %}Le site webinaire.numerique.gouv.fr est développé selon les recommendations du <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/" target="_blank"  rel="noopener noreferrer" title="référentiel général d’amélioration d’accessibilité - nouvelle fenêtre">référentiel général d’amélioration d’accessibilité</a> pour être accessible à tous les usagers quel que soit le matériel ou le logiciel utilisé pour naviguer sur internet.{% endtrans %}</p>
    <p>{% trans %}Cependant, aucun audit formel n’a été effectué.{% endtrans %}</p>

    <h2>{% trans %}Droit à compensation{% endtrans %}</h2>
    <p>{% trans %}Dans l’attente d’une mise en conformité totale, vous pouvez obtenir une version accessible des documents ou des informations qui y seraient contenues en envoyant un courriel à contact@webinaire.numerique.gouv.fr en indiquant le nom du document concerné et/ou les informations que vous souhaiteriez obtenir. Les informations demandées vous seront transmises dans les plus bref délais.{% endtrans %}</p>

    <h2>{% trans %}Amélioration et contact{% endtrans %}</h2>
    <p>{% trans %}Vous pouvez nous aider à améliorer l’accessibilité du site en nous signalant les problèmes éventuels que vous rencontrez. Pour ce faire, envoyez-nous un courriel à contact@webinaire.numerique.gouv.fr .{% endtrans %}</p>

    <h2>{% trans %}Défenseur des droits{% endtrans %}</h2>
    <p>{% trans %}Si vous constatez un défaut d'accessibilité vous empêchant d'accéder à un contenu ou une fonctionnalité du site, que vous nous le signalez et que vous ne parvenez pas à obtenir une réponse rapide de notre part, vous êtes en droit de faire parvenir vos doléances ou une demande de saisine au Défenseur des droits. Plusieurs moyens sont à votre disposition :{% endtrans %}</p>
    <ul><li>{% trans %}un <a href="https://www.defenseurdesdroits.fr/nous-contacter" title="formulaire de contact - nouvelle fenêtre" target="_blank" rel="noopener noreferrer" >formulaire de contact</a></li><li>la <a href="https://www.defenseurdesdroits.fr/fr/saisir/delegues" title="liste des délégués de votre région - nouvelle fenêtre" target="_blank"  rel="noopener noreferrer">liste des délégués de votre région</a> avec leurs informations de contact directs</li><li>un numéro de téléphone : le 09 69 39 00 00 du lundi au vendredi de 8h00 à 20h00 (coût d'un appel local)</li><li>une adresse postale dans l'<a href="https://lannuaire.service-public.fr/autorites-independantes/autorite-administrative-independante_195381" title="annuaire de l'administration - nouvelle fenêtre" target="_blank" rel="noopener noreferrer" >annuaire de l'administration</a>{% endtrans %}</li></ul>
    {% endblock %}
