{% extends 'static-layout.html' %}

{% block main %}
    <h1>{% trans %}Documentation{% endtrans %}</h1>
    <h2>{% trans %}Guides utilisateurs{% endtrans %}</h2>
    {% if config.get("DOCUMENTATION_PAGE_SUBTITLE") %}
        <p>{{ config.get("DOCUMENTATION_PAGE_SUBTITLE") }}</p>
    {% endif %}
    <li><a href="{{ url_for('static', filename='misc/PresentationNouveautes2-4.pdf') }}" title="{% trans %}Présentation des nouveautés de la v2.4{% endtrans %}" target="_blank" rel="noopener noreferrer"> {% trans %}Présentation des nouveautés de la v2.4{% endtrans %}</a></li>
    <br>
    <iframe src="https://podeduc.apps.education.fr/video/0089-big-blue-button-24-les-nouveautes/?is_iframe=true" width="640" height="360" style="padding: 0; margin: 0; border:0"
            sandbox="allow-scripts allow-same-origin" allowfullscreen></iframe>
    <br>
    <li><a href="{{ url_for('static', filename='misc/1.Creer_une_reunion_Improvisee.pdf') }}" title="{% trans %}Créer une réunion improvisée{% endtrans %}" target="_blank" rel="noopener noreferrer"> {% trans %}Créer une réunion improvisée{% endtrans %}</a></li>
    <li><a href="{{ url_for('static', filename='misc/2.Participer_a_une_reunion.pdf') }}" title="{% trans %}Participer à une réunion{% endtrans %}" target="_blank" rel="noopener noreferrer"> {% trans %}Participer à une réunion{% endtrans %} </a></li>
    <li><a href="{{ url_for('static', filename='misc/3.Creer_et_parametrer_une_salle_de_reunion.pdf') }}" title="{% trans %}Créer et parametrer une salle de réunion{% endtrans %}" target="_blank" rel="noopener noreferrer"> {% trans %}Créer et paramétrer une salle de réunion {% endtrans %} </a></li>
    <li><a href="{{ url_for('static', filename='misc/4.Activer_le_materiel_dans_le_navigateur.pdf') }}" title="{% trans %}Activer le matériel dans le navigateur{% endtrans %}" target="_blank" rel="noopener noreferrer"> {% trans %}Activer le matériel dans le navigateur{% endtrans %} </a></li>
    <li><a href="{{ url_for('static', filename='misc/5.G%C3%A9rer_les_participants.pdf') }}" title="{% trans %}Gérer les utilisateurs{% endtrans %}" target="_blank" rel="noopener noreferrer"> {% trans %}Gérer les utilisateurs{% endtrans %} </a></li>
    <li><a href="{{ url_for('static', filename='misc/6.G%C3%A9rer_les_documents.pdf') }}" title="{% trans %}Gérer les documents{% endtrans %}" target="_blank" rel="noopener noreferrer"> {% trans %}Gérer les documents{% endtrans %} </a></li>
    <li><a href="{{ url_for('static', filename='misc/7.Creer_des_r%C3%A9unions_priv%C3%A9es.pdf') }}" title="{% trans %}Gestion des réunions privées{% endtrans %}" target="_blank" rel="noopener noreferrer"> {% trans %}Gestion des réunions privées{% endtrans %} </a></li>
    <li><a href="{{ url_for('static', filename='misc/8.D%C3%A9l%C3%A9guer_la_cr%C3%A9ation_de_r%C3%A9union.pdf') }}" title="{% trans %}Déléguer la création de réunion{% endtrans %}" target="_blank" rel="noopener noreferrer"> {% trans %}Déléguer la création de réunion{% endtrans %} </a></li>
    <li><a href="{{ url_for('static', filename='misc/9.Enregistrer_une_r%C3%A9union.pdf') }}" title="{% trans %}Enregistrer une réunion{% endtrans %}" target="_blank" rel="noopener noreferrer"> {% trans %}Enregistrer une réunion{% endtrans %} </a></li>
    <li><a href="{{ url_for('static', filename='misc/10.Cr%C3%A9er_un_Sondage.pdf') }}" title="{% trans %}Créer un sondage{% endtrans %}" target="_blank" rel="noopener noreferrer"> {% trans %}Créer un sondage{% endtrans %} </a></li>
    <li><a href="{{ url_for('static', filename='misc/11.Joindre_une_reunion_par_telephone.pdf') }}" title="{% trans %}Joindre une réunion par téléphone{% endtrans %}" target="_blank" rel="noopener noreferrer"> {% trans %}Joindre une réunion par téléphone{% endtrans %}</a></li>
    <li><a href="{{ url_for('static', filename='misc/12.Afficher_le_tableau_de_bord_activite_participants.pdf') }}" title="{% trans %}Afficher le tableau de bord{% endtrans %}" target="_blank" rel="noopener noreferrer"> {% trans %}Afficher le tableau de bord{% endtrans %}</a></li>
    <li><a href="{{ url_for('static', filename='misc/13.G%C3%A9rer_la_mise_en_page.pdf') }}" title="{% trans %}Gérer la mise en page{% endtrans %}" target="_blank" rel="noopener noreferrer"> {% trans %}Gérer la mise en page{% endtrans %}</a></li>
    <li><a href="{{ url_for('static', filename='misc/14.PluginControleVolume.pdf') }}" title="{% trans %}Extension contrôle du volume{% endtrans %}" target="_blank" rel="noopener noreferrer"> {% trans %}Contrôle du volume{% endtrans %}</a></li>
    <br>
    <style class="fr-mb-4w">
        table, th, td {
            padding: 10px;
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
    <table class="fr-mb-4w">
        <tr>
            <th>1 caméra</th>
            <th>5 caméras</th>
            <th>10 caméras</th>
            <th>20 caméras</th>
            <th>30 caméras</th>
        </tr>
        <tr>
            <td>350 personnes</td>
            <td>250 personnes</td>
            <td>150 personnes</td>
            <td>100 personnes</td>
            <td>maximum 50 personnes</td>
        </tr>

    </table>
    <h2>Documentation technique</h2>

    <p>L'ensemble de ces services requiére d'ouverture de ports UDP notamment dans les pare-feux</p>


    <p>Le service BigBlueButton est composé de 3 types de services :
        <ul>
            <li>le service BigBlueButton</li>
            <li>le service TURN/STUN qui permet, en méthode de contournement, lorsque les ports UDP sont bloqués d'encapsuler le flux UDP dans un flux 443/TCP/DTLS embarqué par les serveurs de web-visio BigBlueButton</li>
            <li>le service Scalelite sur des serveurs dédiés qui servent à répartir les salles sur l'ensemble des serveurs BBB</li>
        </ul>
    </p>

    <p>
        Ces ports sont :
        <ul>
            <li>Serveurs BBB/scalelite
                <ul>
                    <li>TCP/IP ports 80/443 (HTTP/HTTPS)</li>
                    <li>UDP la plage de ports 16384 - 32768</li>
                    <li>TCP/IP ports 443 service TURN (TCP/DTLS) dont il faut positionner en exclusion du proxy les FQDN/IP</li>
                </ul>
            </li>
        </ul>
    </p>
    <br>

    <h3>Serveurs TURN</h3>
    <li>TCP/IP ports 443 service TURN (TCP/DTLS) dont il faut positionner en exclusion du proxy les FQDN/IP</li>
    <li>Instance Éducation, depuis la version 2.6 de BigBlueButton le service TURN est embarqué directement dans chaque serveur BigBlueButton et non plus une grappe de serveurs TURN dédiés.</li>
    <li>Instance Webinaire de l'État, il y une grappe de serveurs TURN dédiés.</li>
    <table class="fr-mb-4w">
        <thead>
            <tr><th>IP</th><th>FQDN</th><th>Domaine</th></tr>
        </thead>
        <tbody>

            <tr><td>212.47.226.44</td><td>bbb-dinum-turn1.visio.education.fr</td><td>Webinaire de l'état</td></tr>
            <tr><td>212.47.243.166</td><td>bbb-dinum-turn2.visio.education.fr</td><td>Webinaire de l'état</td></tr>
            <tr><td>212.47.231.140</td><td>bbb-dinum-turn3.visio.education.fr</td><td>Webinaire de l'état</td></tr>
            <tr><td>212.47.243.234</td><td>bbb-dinum-turn4.visio.education.fr</td><td>Webinaire de l'état</td></tr>
            <tr><td>212.47.231.160</td><td>bbb-dinum-turn5.visio.education.fr</td><td>Webinaire de l'état</td></tr>

        </tbody>
    </table>


    <h3>Fichiers avec les IP et FQDN des serveurs BBB</h3>

    <ul>
        <li><a href="{{ url_for('static', filename='misc/ip-fqdn-adm-sort.txt') }}" title="{% trans %}Liste des serveurs BigBlueButton pour l'Éducation{% endtrans %}" target="_blank" rel="noopener noreferrer"> Visio Éducation</a></li>
        <li><a href="{{ url_for('static', filename='misc/ip-fqdn-bbb-dinum-sort.txt') }}" title="{% trans %}Liste des serveurs BigBlueButton pour le Webinaire de l'État{% endtrans %}" target="_blank" rel="noopener noreferrer"> Webinaire </a></li>
        <li><a href="{{ url_for('static', filename='misc/ip-fqdn-bbb-complet.txt') }}" title="{% trans %}Liste des serveurs BigBlueButton pour l'ensemble des BigBlueButton{% endtrans %}" target="_blank" rel="noopener noreferrer"> Tous </a></li>
    </ul>
{% endblock %}
