{% extends 'static-layout.html' %}

{% block main %}
<div id="doc">
    <h1>{% trans %}Données personnelles{% endtrans %}</h1>

    <h2>{% trans %}Gestion des cookies{% endtrans %}</h2>
    <p>{% trans %}À propos des cookies / traceurs{% endtrans %}</p>
    <p>{% trans %}Afin de permettre aux applications Web de fournir des services, des « cookies » (« traceurs » en français) peuvent être utilisés.{% endtrans %}</p>

    <h2>{% trans %}Qu’est-ce qu’un « cookie » ?{% endtrans %}</h2>
    <p>{% trans %}Un « cookie » est un fichier de taille limitée, généralement constitué de lettres et de chiffres, envoyé par le serveur internet au fichier cookie du navigateur situé sur le disque dur de votre ordinateur.{% endtrans %}</p>

    <h2>{% trans %}Quels types de « cookies » sont utilisés par les services visio-agents/Classe Virtuelle/Webinaire de l’Etat ?{% endtrans %}</h2>
    <p>{% trans %}Les cookies servent à l’authentification sur les services visio-agents/Classe Virtuelle/Webinaire de l’Etat{% endtrans %}</p>
    <p>{% trans %}Il n’y a pas de cookie de mesure d’audience{% endtrans %}</p>
    <p>{% trans %}Informations complémentaires sur les « cookies »{% endtrans %}</p>
    <p><a href="http://www.cnil.fr/vos-droits/vos-traces/les-cookies/" target="_blank" rel="noopener">http://www.cnil.fr/vos-droits/vos-traces/les-cookies/</a></p>

    <h2>{% trans %}Quelle sécurité pour vos données personnelles ?{% endtrans %}</h2>
    <p>{% trans %}Nous veillons à prendre les mesures physiques, techniques et organisationnelles appropriées pour garantir la sécurité et la confidentialité de vos données personnelles.{% endtrans %}</p>

    <h1>{% trans %}Politique de confidentialité{% endtrans %}</h1>
    <p>{% trans %}Dans le cadre de l’utilisation des services visio-agents/Classe Virtuelle/Webinaire de l’Etat, des données à caractère personnel vous concernant font l’objet d’un traitement par la DNE (visio-agents/Classe Virtuelle, "nous" par la suite dans ces cas) ou la DINum (Direction Interministérielle du Numérique pour le Webinaire de l’Etat, "nous" par la suite dans ce cas).{% endtrans %}</p>
    <p>{% trans %}La présente politique décrit nos engagements en ce qui concerne le traitement de vos données, conformément au Règlement européen sur la protection des données (Règlement UE n° 2026/679 du 27 avril 2016, ci-après « RGPD ») et à la loi n° 78-17 du 6 janvier 1978 modifiée relative à l’informatique, aux fichiers et aux libertés (ci-après loi « Informatique et Libertés »).{% endtrans %}</p>

    <h2>{% trans %}Quel est notre rôle ?{% endtrans %}</h2>
    <p>{% trans %}Le Webinaire est un service en ligne proposé aux agents de l’Etat destiné à faciliter le travail à distance par l’organisation et la tenue de réunions, de conférences et de formations en ligne.{% endtrans %}</p>
    <p>{% trans %}La DINUM est responsable de traitement des informations traitées dans le cadre du Service et, à ce titre, s’engage à respecter les obligations inhérentes à ce traitement, notamment celles relevant de la loi n° 78-17 du 6 janvier 1978 relative à l’informatique aux fichiers et aux libertés.{% endtrans %}</p>
    <p>{% trans %}Visio-agents est un service en ligne proposé aux agents du ministère de l'Éducation Nationale destiné à faciliter le travail à distance par l’organisation et la tenue de réunions, de conférences et de formations en ligne.{% endtrans %}</p>
    <p>{% trans %}Classe Virtuelle est un service en ligne proposé aux enseignants du ministère de l'Éducation Nationale destiné à la continuité pédagogique en cas d'impossibilité de rejoindre la classe.{% endtrans %}</p>
    <p>{% trans %}La DNE est responsable de traitement des informations traitées dans le cadre des services visio-agents et Classe Virtuelle et, à ce titre, s’engage à respecter les obligations inhérentes à ce traitement, notamment celles relevant de la loi n° 78-17 du 6 janvier 1978 relative à l’informatique aux fichiers et aux libertés.{% endtrans %}</p>
    <p>{% trans %}Les organisateurs qui procèdent aux invitations et à l’enregistrement des salons de visioconférence sont responsables des traitements ultérieurs qu’ils réalisent à partir de ces enregistrements. Il leur appartient de vous délivrer une information sur ces traitements.{% endtrans %}</p>

    <h2>{% trans %}Quels sont les traitements de données mis en œuvre ?{% endtrans %}</h2>
    <style>
table, th, td {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}
    </style>
    <table class="fr-mb-4w">
        <tr>
            <th>{% trans %}Finalité du traitement{% endtrans %}</th>
            <th>{% trans %}Base légale du traitement{% endtrans %}</th>
            <th>{% trans %}Catégorie de données personnelles traitées{% endtrans %}</th>
            <th>{% trans %}Durée de conservation{% endtrans %}</th>
        </tr>
        <tr>
            <td>{% trans %}Gestion des comptes des organisateurs de webinaires{% endtrans %}</td>
            <td>{% trans %}Article 6-1(e) RGPD : exécution d’une mission de service public{% endtrans %}</td>
            <td>{% trans %}Données d’identification :{% endtrans %}
                • {% trans %}Nom{% endtrans %}
                • {% trans %}Prénom{% endtrans %}
                • {% trans %}Adresse électronique{% endtrans %}</td>
            <td>{% trans %}Les données sont supprimées après une période de 12 mois d’inactivité du compte ou au moment de la désactivation du compte (1ère moe planifiée au plus tard en 12/22).{% endtrans %}</td>
        </tr>
        <tr>
            <td>{% trans %}Enregistrement des visio-conférences à des fins de partage et de rediffusion{% endtrans %}</td>
            <td>{% trans %}Article 6-1(e) RGPD : exécution d’une mission de service public{% endtrans %}</td>
            <td>{% trans %}Enregistrement vidéo des visio-conférences{% endtrans %}</td>
            <td>{% trans %}Les données d’enregistrement peuvent être supprimées à tout moment par l’organisateur. Elles sont automatiquement supprimées 12 mois après la date de la visio-conférences.{% endtrans %}</td>
        </tr>
        <tr>
            <td>{% trans %}Outils de chat et de vote en ligne{% endtrans %}</td>
            <td>{% trans %}Article 6-1(e) RGPD : exécution d’une mission de service public{% endtrans %}</td>
            <td>{% trans %}Échanges écrits entre participants et résultats des votes en lignes{% endtrans %}</td>
            <td>{% trans %}Les données sont supprimées à l’issue de la session de visio-conférence.{% endtrans %}</td>
        </tr>
        <tr>
            <td>{% trans %}Gestion de la sécurité de la visio-conférence{% endtrans %}</td>
            <td>{% trans %}(Loi n° 2004-575 du 25 juin 2005 pour la confiance dans l’économie numérique, Décret n° 2021-1362 du 20 octobre 2021 relatif à la conservation des données permettant d’identifier toute personne ayant contribué à la création d’un contenu en ligne){% endtrans %}</td>
            <td>{% trans %}Données de connexion des utilisateurs du service (logs, adresse IP){% endtrans %}</td>
            <td>{% trans %}12 mois{% endtrans %}</td>
        </tr>
    </table>

    <h2>{% trans %}Quels sont les destinataires de vos données ?{% endtrans %}</h2>
    <p>{% trans %}Les destinataires de vos données personnelles sont les agents et salariées dûment habilitées de la, respectivement, DNE ou DINUM et de nos sous-traitants qui interviennent pour l’hébergement, et l’infogérance du service.{% endtrans %}</p>
    <p>{% trans %}Nous nous sommes assurés de la mise en œuvre par nos sous-traitants de garanties adéquates et du respect de conditions strictes de confidentialité, d’usage et de protection des données.{% endtrans %}</p>
    <p>{% trans %}Les données collectées sur la visio-conférence ne sont pas transférées en dehors de l’Union européenne.{% endtrans %}</p>
    <h2>{% trans %}Quels sont vos droits ?{% endtrans %}</h2>
    <p>{% trans %}Vous disposez d’un droit d’accès et de rectification des données à caractère personnel qui vous concernent. Vous disposez également d’un droit d’opposition et de limitation du traitement de vos données.{% endtrans %}</p>
    <p>{% trans %}Pour exercer vos droits ou pour toute question sur le traitement de vos données, vous pouvez nous écrire, respectivement, aux adresses : contact@apps.education.fr ou contact@webinaire.numerique.gouv.fr.{% endtrans %}</p>
    <p>{% trans %}Vous pouvez également, dans le cas du Webinaire de l'État, contacter le délégué à la protection des données (DPD) des services du Premier Ministre :{% endtrans %}</p>
    • {% trans %}par mail à dpd@pm.gouv.fr{% endtrans %}</br>
    • {% trans %}ou par courrier à l’adresse suivante :{% endtrans %}</br>
    <p>{% trans %}Services du Premier Ministre{% endtrans %}</p>
    {% trans %}À l’attention du délégué à la protection des données (DPD)</br>
    56 rue de Varenne </br>
    75007 Paris{% endtrans %}</br>
    <p>{% trans %}Si vous estimez, après nous avoir contactés, que vos droits Informatiques et Libertés ne sont pas respectés vous pouvez adresser une réclamation à la CNIL :{% endtrans %}</p>
    {% trans %}Commission nationale informatique et libertés </br>
    3 place de Fontenoy – TSA 80715 – </br>
    75334 PARIS CEDEX 07{% endtrans %}</br>

    <p>{% trans %}Les modalités de réclamation sont précisées sur le site de la CNIL : www.cnil.fr.{% endtrans %}</p>

    <h2>{% trans %}Contactez le Délégué à la protection des données pour les services Écoles/Colléges/Lycées/Agents{% endtrans %}</h2>
    <p>{% trans %}Pour ce faire, envoyez un courriel à <strong>dpd[chez]education.gouv.fr</strong>{% endtrans %}</p>
</div>
{% endblock %}
