{% extends 'static-layout.html' %}

{% block main %}
  <div id="doc">
    <h1>{% trans %}Mentions légales{% endtrans %}</h1>
    <h2>{% trans %}Éditeur{% endtrans %}</h2>
    <p>{% trans %}Ministère de l’Éducation nationale et de la jeunesse Direction du numérique pour l’éducation 110 rue Grenelle, 75007 Paris{% endtrans %}<br>{% trans %}Directeur de publication{% endtrans %}</p>
    <h2>{% trans %}Directeur de la publication{% endtrans %}</h2>
    <p>{% trans %}M. Audran Le Baron, Directeur du numérique pour l’éducation{% endtrans %}</p>
    <h2>{% trans %}Gestionnaire des statistiques{% endtrans %}</h2>
    <p>{% trans %}Il n’y a pas d’outil de mesure d’audience pour ce site.{% endtrans %}</p>
    <h2>{% trans %}Conception et gestion du site{% endtrans %}</h2>
    <p>{% trans %}Le suivi éditorial, graphique et technique du site est assuré au quotidien par les équipes de la DINUM et du Pôle de compétence Identité du MENJS.{% endtrans %}</p>
    <h2>{% trans %}Droits de reproduction{% endtrans %}</h2>
    <p>{% trans %}Conformément au droit public de la propriété intellectuelle et notamment selon l’article L122-5 du Code de la propriété intellectuelle, les ’’documents officiels’’ sont librement réutilisables.{% endtrans %}</p>
    <p>{% trans %}Cependant, le bon usage veut que la reprise de ces contenus de façon partielle ou intégrale mentionne clairement la source, et le cas échéant avec un lien vers le document original en ligne sur ce site.{% endtrans %}</p>
    <p>{% trans %}Toutes les infographies et vidéos réalisées par le service de communication de l’éditeur se trouvent sous « Licence Ouverte V2.0 » et sont librement réutilisables sous les conditions suivantes :{% endtrans %}</p>
    <p>{% trans %}Attribution : vous devez attribuer l’œuvre de la manière indiquée par l’auteur de l’œuvre ou le titulaire des droits (mais pas d’une manière qui suggérerait qu’ils vous approuvent, vous ou votre utilisation de l’œuvre).{% endtrans %}</p>
    <h2>{% trans %}Liens hypertextes pointant vers ce site :{% endtrans %}</h2>
    <p>{% trans %}Tout site public ou privé est autorisé à établir, sans autorisation préalable, un lien (y compris profond) vers les informations diffusées par ce site de webinaire, Visio-ecoles/colleges/lycees/agents.{% endtrans %}</p>
    <p>{% trans %}Pour les sites Internet, la reproduction, après autorisation, d’un contenu doit mentionner très clairement l’origine du document sous forme d’une adresse internet :{% endtrans %}</p>
    <p>{% trans %}La mise en place de “liens profonds” pointant directement sur le document souhaité devra être privilégiée par rapport à la reproduction de contenus.{% endtrans %}</p>
    <p>{% trans %}En effet, dans ce cas, la mise en place de liens vers ce site  de Webinaire/Visio-ecoles/colleges/lycees/agents n’est conditionnée à aucun accord préalable. Cependant la mention explicite du site dans l’intitulé du lien est recommandée.{% endtrans %}</p>
    <p>{% trans %}Les sites qui font le choix de pointer vers ce site  de Webinaire, Visio-ecoles/colleges/lycees/agents engagent leur responsabilité dès lors qu’ils porteraient atteinte à l’image du site public.{% endtrans %}</p>
    <h2>{% trans %}Liens hypertextes proposés par ce site  de Webinaire, Visio-ecoles/colleges/lycees/agents :{% endtrans %}</h2>
    <p>{% trans %}Les liens vers chaque service interministériel référencé dans le catalogue que proposé par de ce site. Leur présence engage l’éditeur et la gouvernance SIC interministérielle quant à leur contenu et ne vise qu’à faciliter l’accès, particulièrement pour les agents de l’Etat et du service public plus généralement, aux ressources numériques mises à disposition au plan interministériel.{% endtrans %}</p>
    <h2>{% trans %}Clause de responsabilité{% endtrans %}</h2>
    <p>{% trans %}Les informations proposées sur ce site le sont à titre de service rendu aux agents du service public, notamment aux agents des services de l’État.{% endtrans %}</p>
    <p>{% trans %}Les informations et/ou documents disponibles sur ce site sont susceptibles d’être modifiés à tout moment, et peuvent faire l’objet de mises à jour pour faciliter l’accès aux ressources numériques.{% endtrans %}</p>
    <p>{% trans %}Les informations et/ou documents accédés à partir de ce site relèvent de la responsabilité des porteurs de chaque service interministériel ainsi mis à disposition.{% endtrans %}</p>
    <p>{% trans %}L’éditeur ne pourra en aucun cas être tenue responsable de tout dommage de quelque nature qu’il soit résultant de la mauvaise utilisation des ressources accessibles à partir de ce site.{% endtrans %}</p>
    <h2>{% trans %}Droit à la compensation{% endtrans %}</h2>
    <p>{% trans %}Dans l’attente d’une mise en conformité totale d’un de ces services, vous pouvez obtenir une version accessible des documents ou des informations qui y seraient contenues en envoyant un courriel au contact indiqué sur la page d’accès du service en indiquant le nom du document concerné et/ou les informations que vous souhaiteriez obtenir. Les informations demandées vous seront transmises dans les plus brefs délais.{% endtrans %}</p>
    <h2>{% trans %}Amélioration et contact{% endtrans %}</h2>
    <p>{% trans %}Vous pouvez nous aider à améliorer l’accessibilité du site en nous signalant les problèmes éventuels que vous rencontrez. Pour ce faire, envoyez-nous un courriel à <strong>apps[chez]education.gouv.fr</strong>{% endtrans %}</p>
</div>
{% endblock %}
