<!-- Inviter -->
<dialog id="share-{{ meeting.id }}" class="fr-modal" role="dialog" aria-labelledby="share-{{ meeting.id }}-title">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" aria-controls="share-{{ meeting.id }}" title="Fermer">
                            Fermer
                        </button>
                    </div>
                    <div class="fr-modal__content">
                        <h2 id="share-{{ meeting.id }}-title" class="fr-modal__title">
                            <span class="" aria-hidden="true"></span>
                            Inviter les modérateurs
                        </h2>
                        <p>En leur envoyant l’adresse ci-dessous :</p>
                        <div class="fr-grid-row fr-text--sm">
                            <div class="fr-col-xs-9 fr-col-sm-10">
                                <code id="meeting-{{ meeting.id }}-moderator-url">{{ meeting.get_signin_url(Role.moderator) }}</code>
                            </div>
                            <div class="fr-col">
                                <button type="button" class="btn-copy fr-btn fr-btn--primary" id="meeting-{{ meeting.id }}-moderator-copy" onclick="navigator.clipboard.writeText('{{ meeting.get_signin_url(Role.moderator) }}');" title="Copier le lien modérateur dans le presse-papiers">
                                    <span class="ri-clipboard-line"></span>
                                </button>
                            </div>
                        </div>
                        {% if config.get("ENABLE_SIP_CODE") %}
                        <br>
                        <p>En leur envoyant le code ci-dessous :</p>
                        <div class="fr-grid-row fr-text--sm">
                            <div class="fr-col-xs-9 fr-col-sm-10">
                                <code id="meeting-{{ meeting.id }}-moderator-sip-code">{{ meeting.sip_code }}</code>
                            </div>
                            <div class="fr-col">
                                <button type="button" class="btn-copy fr-btn fr-btn--primary" id="meeting-{{ meeting.id }}-moderator-copy" onclick="navigator.clipboard.writeText('{{ meeting.sip_code }}');" title="Copier le code SIP dans le presse-papiers">
                                    <span class="ri-clipboard-line"></span>
                                </button>
                            </div>
                        </div>
                        <br>
                        <p>En leur envoyant lien SIP ci-dessous :</p>
                        <div class="fr-grid-row fr-text--sm">
                            <div class="fr-col-xs-9 fr-col-sm-10">
                                <code id="meeting-{{ meeting.id }}-moderator-sip-link">{{ meeting.sip_code }}@{{ config.get("FQDN_SIP_SERVER") }}</code>
                            </div>
                            <div class="fr-col">
                                <button type="button" class="btn-copy fr-btn fr-btn--primary" id="meeting-{{ meeting.id }}-moderator-copy" onclick="navigator.clipboard.writeText('{{ meeting.sip_code }}@{{ config.get('FQDN_SIP_SERVER') }}');" title="Copier le code SIP dans le presse-papiers">
                                    <span class="ri-clipboard-line"></span>
                                </button>
                            </div>
                        </div>
                        {% endif %}
                        <p>
                            <br>
                            <a class="fr-link" target="_blank" rel="noopener" href="{{ url_for("join.join_meeting_as_role", meeting=meeting, role=Role.moderator) }}">Rejoindre {{ the_meeting }} en tant que modérateur principal</a>
                        </p>
                        <h2 class="fr-modal__title">
                            <span class="" aria-hidden="true"></span>Inviter les participants</h2>
                        <p>En leur envoyant l’adresse ci-dessous :</p>
                        <div class="fr-grid-row fr-text--sm">
                            <div class="fr-col-xs-9 fr-col-sm-10">
                                <code id="meeting-{{ meeting.id }}-attendee-url">{{ meeting.get_signin_url(Role.attendee) }}</code>
                            </div>
                            <div class="fr-col">
                                <button type="button" class="btn-copy fr-btn fr-btn--primary" id="meeting-{{ meeting.id }}-attendee-copy" onclick="navigator.clipboard.writeText('{{ meeting.get_signin_url(Role.attendee) }}');" title="Copier le lien participant dans le presse-papiers">
                                    <span class="ri-clipboard-line"></span>
                                </button>
                            </div>
                        </div>
                        <p>
                            <br>
                            <a class="fr-link" target="_blank" rel="noopener" href="{{ url_for("join.join_meeting_as_role", meeting=meeting, role=Role.attendee) }}">Rejoindre {{ the_meeting }} en tant que participant</a>
                        </p>

                        <h2 class="fr-modal__title">
                            <span class="" aria-hidden="true"></span>Inviter les participants authentifiés {% if config.OIDC_ATTENDEE_SERVICE_NAME %}via {{ config.OIDC_ATTENDEE_SERVICE_NAME }} {% endif %}</h2>
                        <p>En leur envoyant l’adresse ci-dessous :</p>
                        <div class="fr-grid-row fr-text--sm">
                            <div class="fr-col-xs-9 fr-col-sm-10">
                                <code id="meeting-{{ meeting.id }}-authenticated-attendee-url">{{ meeting.get_signin_url(Role.authenticated) }}</code>
                            </div>
                            <div class="fr-col">
                                <button type="button" class="btn-copy fr-btn fr-btn--primary" id="meeting-{{ meeting.id }}-authenticated-attendee-copy" onclick="navigator.clipboard.writeText('{{ meeting.get_signin_url(Role.authenticated) }}');" title="Copier le lien participant authentifié dans le presse-papiers">
                                    <span class="ri-clipboard-line"></span>
                                </button>
                            </div>
                        </div>
                        <p>
                            <br>
                            <a class="fr-link" target="_blank" rel="noopener" href="{{ url_for("join.join_meeting_as_authenticated", meeting_id=meeting.id) }}">Rejoindre {{ the_meeting }} en tant que participant authentifié</a>
                        </p>

                        {% if config.get("ENABLE_PIN_MANAGEMENT") %}
                            <h2 class="fr-modal__title">
                                <span class="" aria-hidden="true"></span>Inviter les participants par téléphone</h2>
                            <p>En leur envoyant les informations ci-dessous :</p>
                            <div class="fr-grid-row fr-text--sm">
                                <div class="fr-col-xs-9 fr-col-sm-10">
                                    <code id="meeting-{{ meeting.id }}-phone-info">
                                        n° de téléphone : {{ config.get("BIGBLUEBUTTON_DIALNUMBER") }}<br>
                                        code PIN : {{ meeting.voiceBridge }}
                                    </code>
                                </div>
                                <div class="fr-col">
                                    <button type="button" class="btn-copy fr-btn fr-btn--primary" id="meeting-{{ meeting.id }}-phone-info-copy" onclick="navigator.clipboard.writeText('n° de téléphone : {{ config.get("BIGBLUEBUTTON_DIALNUMBER") }}, code PIN : {{ meeting.voiceBridge }}');" title="Copier les informations dans le presse-papiers">
                                        <span class="ri-clipboard-line"></span>
                                    </button>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
