<html>
    {% trans %}Bonjour{% endtrans %} {{ user.fullname }},
    <br/>
    <br/>
    {% trans trimmed count=delay %}
        Votre compte est inactif et sera supprimé dans {{ count }} jour.
        {% pluralize %}
        Votre compte est inactif et sera supprimé dans {{ count }} jours.
    {% endtrans %}
    <br/>
    <br/>
    {% trans %}Vos salles de réunion et vos fichiers associés seront supprimés également.{% endtrans %}
    <br/>
    <br/>
    {% trans %}Vous pouvez empêcher cette suppression en vous connectant à votre compte.{% endtrans %}
    <br/>
    <br/>
    {% trans %}Rendez-vous simplement sur <a href="{{ welcome_url }}">votre espace</a>.{% endtrans %}
</html>
