<html>
    {% trans %}Bonjour{% endtrans %} {{ meeting.owner.fullname }},
    <br/>
    <br/>
    {% trans meeting_name=meeting.name %}La réunion {{ meeting_name }} sera supprimée définitivement {% endtrans %}{% if delay==1 %}{% trans %}dans 24h{% endtrans %}{% else %}{% trans %}dans {{ delay }} jours{% endtrans %}{% endif %}.
    <br/>
    <br/>
    {% trans %}Vous pouvez empêcher cette suppression en utilisant cette réunion.{% endtrans %}
    <br/>
    <br/>
    {% trans %}Rendez vous simplement sur <a href="{{ welcome_url }}">votre espace</a> et lancez la réunion.{% endtrans %}
</html>
