<div class="fr-container">
    <h1 class="fr-h2 fr-icon-user-setting-line fr-icon--lg">
        {% trans meeting_name=meeting.name %} Délégation du {{ meeting_label }} {{ meeting_name }} {% endtrans %}
    </h1>
    <h6>{% trans %} Ajouter des délégataires {% endtrans %}</h6>
    <form class="fr-search-bar" id="delegationSearchForm", name="search_by_email" role="search" action="{{ url_for("meetings.manage_delegation", meeting=meeting) }}" method="post">
        {% include 'meeting/csrf.html' %}
        {{ form.search.label(class_="fr-label") }}
        {{ form.search(class_="fr-input")  }}
        <button title="{% trans %}Rechercher{% endtrans %}" type="submit" class="fr-btn"></button>
    </form>
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12">
            <div class="fr-table fr-table--no-caption" id="delegation-component">
                <div class="fr-table__wrapper ">
                    <div class="fr-table__container">
                        <div class="fr-table__content">
                            <table id="delegation">
                                <thead class="">
                                    <tr class="">
                                        <th class="fr-col--lg fr-cell--center"> Liste des délégataires </th>
                                        <th class="fr-col--xs fr-cell--center"> {{ meeting.get_all_delegates|length }}/{{ config.get("MAXIMUM_MEETING_DELEGATES") }} </th>
                                    </tr>
                                </thead>
                                <tbody class="">
                                    {% for delegate in meeting.get_all_delegates %}
                                        <tr class="">
                                            <td class="fr-col--lg fr-cell--center"> {{delegate.fullname}} </td>
                                            <td class="fr-col--xs fr-cell--center">
                                                <a class="fr-btn fr-btn--secondary fr-fi-delete-line" href="{{ url_for("meetings.remove_delegate", meeting=meeting, delegate=delegate) }}"></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
