<div class="fr-container--fluid">
    <h4 class="fr-icon-user-setting-line fr-icon--lg">{% trans meeting_name=meeting.name %} Délégation du {{ meeting_label }} {{ meeting_name }} {% endtrans %}</h4>
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-6">
            <h6>{% trans %} Ajouter des délégataires {% endtrans %}</h6>
        </div>
        <form class="fr-search-bar fr-col-6" id="delegationSearchForm", name="search_by_email" role="search" action="{{ url_for("meetings.manage_delegation", meeting=meeting) }}" method="post">
            {% include 'meeting/csrf.html' %}
            {{ form.search }}
            <button title="{% trans %}Rechercher{% endtrans %}" type="submit" class="fr-btn"></button>
        </form>
    </div>
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12">
            <div class="fr-table fr-table--no-caption" id="delegation-component">
                <div class="fr-table__wrapper">
                    <div class="fr-table__container">
                        <div class="fr-table__content">
                            <table id="delegation">
                                <thead class="fr-container--fluid">
                                    <tr class="fr-grid-row">
                                        <th class="fr-col-8"> Délégataires </th>
                                        <th class="fr-col-4"> {{ meeting.delegates|length }}/{{ config.get("MAXIMUM_MEETING_DELEGATES") }} </th>
                                    </tr>
                                </thead>
                                <tbody class="fr-container--fluid">
                                    {% for delegate in meeting.delegates %}
                                        <tr class="fr-grid-row">
                                            <td class="fr-col-8"> {{delegate.preferred_username}} </td>
                                            <td class="fr-col-4">
                                                <a class="fr-btn fr-btn--secondary fr-fi-delete-line" href="{{ url_for("meetings.remove_delegate", meeting=meeting, delegate=delegate) }}"></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
