{% extends 'layout.html' %}
{% from 'admin/macros.html' import breadcrumb %}

{% block jumbotron %}
{% endblock %}

{% block main %}
    {% if admin_mode %}
        {{ breadcrumb([
        {'href': url_for('admin.home'), 'label': _('Menu Admin')},
        {'href': url_for('admin.manage_meetings'), 'label': _('Réunions')},
        {'href': url_for('admin.meeting_infos', meeting=meeting), 'label': meeting.name},
        {'href': url_for('meetings.manage_delegation', meeting=meeting, admin_mode=admin_mode or None), 'label': _('Gérer les délégations de {meeting_name}').format(meeting_name=meeting.name)},
        ]) }}
    {% endif %}
    {% include 'meeting/delegation-management.html' %}
{% endblock %}
