{% macro render_field(field, generate_button=False) %}
    <div class="fr-col-sm-10 fr-col-lg-9">
        {% if field.type == "BooleanField" %}
            <div class="fr-checkbox-group">
                {{ field(value="on")}}
                {{ field.label(class_="fr-label") }}
                <p class="fr-hint-text">{{ field.description }}</p>
            </div>
        {% else %}
            <div class="fr-input-group">
                {{ field.label(class_="fr-label") }}
                <p class="fr-hint-text">{{ field.description }}</p>
                {% if field.errors %}
                    {% for error in field.errors %}
                        <p class="fr-error-text">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% if generate_button %}
                    <div class="fr-grid-row fr-grid-row--gutters">
                        <div class="fr-col-6">
                            {{ field(class_="fr-input") }}
                        </div>
                        <div class="fr-col-2">
                            <button type="button" class="fr-btn fr-btn--secondary" onclick="document.getElementById('{{ field.name }}').value = generatePassWord(10)"><i class="ri-refresh-fill"></i></button>
                        </div>
                    </div>
                {% else %}
                    {{ field(class_="fr-input", **kwargs) }}
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endmacro %}

<link rel="stylesheet" href="{{ url_for('static', filename='js/dropzone.css') }}"/>
<script src="{{ url_for('static', filename='js/dropzone-min.js') }}"></script>
<script>Dropzone.autoDiscover = false;</script>

<h1 class="fr-h2">{% trans meeting_name=meeting.name %}Gestion des {{ meeting_presentation }}s associées à <em>{{ meeting_name }}</em>{% endtrans %}</h1>

<div class="fr-mt-4w fr-mb-4w">
    <a href="{{ url_for("public.welcome") }}"><span aria-hidden="true" class="fr-fi-arrow-left-line"></span>{% trans %}Retour à mes {{ meeting_label }}s{% endtrans %}</a>
</div>

<div id="messageHolder">
    {% if form.errors %}
        <p class="fr-error-text">{% trans %}Enregistrement impossible car certains champs sont mal renseignés.{% endtrans %}</p>
    {% endif %}
</div>

<dialog id="upload-modal" class="fr-modal" role="dialog" aria-labelledby="upload-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" aria-controls="upload-modal" title="{% trans %}Fermer{% endtrans %}"></button>
                    </div>
                    <div class="fr-modal__content">
                        <form method="POST" action="{{ url_for("meeting_files.upload_file_chunks", meeting=meeting) }}" class="dropzone dz-clickable" id="upload-form" enctype="multipart/form-data">
                            {% include 'meeting/csrf.html' %}
                            {% include 'meeting/id.html' %}
                            <div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>

<dialog id="url" class="fr-modal" role="dialog" aria-labelledby="url">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" aria-controls="url" title="{% trans %}Fermer{% endtrans %}"></button>
                    </div>
                    <div class="fr-modal__content">
                        <form id="meeting-form" >
                            {% include 'meeting/csrf.html' %}
                            {% include 'meeting/id.html' %}
                            <div class="pres_button_parent">
                                {{ render_field(form.url) }}
                                <button type="submit" class="fr-btn fr-btn--primary">{% trans %}Ajouter{% endtrans %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>

</div>

<div class="fr-container fr-mt-2w">
    <h2 class="fr-h3">{% trans %}Vous pouvez ajouter un fichier :{% endtrans %}</h2>
    {% if g.user.has_nc_credentials and not g.is_nextcloud_available %}
        <div class="fr-alert fr-alert--warning fr-mb-2w">
            <h3 class="fr-alert__title">{% trans %}Nuage temporairement indisponible{% endtrans %}</h3>
            <p>{% trans %}Un problème technique empêche l'accès au Nuage. Certaines fonctionnalités sont momentanément désactivées. Veuillez réessayer dans quelques minutes.{% endtrans %}</p>
        </div>
    {% endif %}
    <div class="fr-grid-row">

        <ul id="addFileButtonsHolder" class="fr-btns-group fr-btns-group--inline fr-btns-group--center">
            <li>
                <button data-fr-opened="false" aria-controls="url" class="fr-btn" title="URL">{% trans %}depuis une URL{% endtrans %}</button>
            </li>
            <li>
                <button {% if g.is_nextcloud_available %}onClick=openNCFilePicker(event){% else %}disabled{% endif %} class="fr-btn" title="{% trans %}nuage{% endtrans %}">{% trans %}depuis le Nuage{% endtrans %}</button>
            </li>
            <li>
                <button {% if g.is_nextcloud_available %}data-fr-opened="false" aria-controls="upload-modal"{% else %}disabled{% endif %} class="fr-btn" title="{% trans %}téléversement{% endtrans %}">{% trans %}par Téléversement{% endtrans %}</button>
            </li>
        </ul>

    </div>
</div>


<div class="fr-container fr-mt-2w">
    <!-- MEETING ASSOCIATED FILES ARE LISTED THROUGH LOOP BELOW -->
    <div class="fr-table">
        <div class="fr-table__wrapper">
            <div class="fr-table__container">
                <div class="fr-table__content">
                    <table>
                        <caption>{% trans %}Vos fichiers associés sont :{% endtrans %}</caption>
                        <thead>
                            <tr>
                                <!-- <th scope="col">Défaut</th> -->
                                <th scope="col">{% trans %}Téléchargeable{% endtrans %}</th>
                                <th id="titleFileColumn" scope="col">{% trans %}Titre{% endtrans %}</th>
                                <th scope="col">{% trans %}Ajouté le{% endtrans %}</th>
                                <th scope="col">{% trans %}Supprimer{% endtrans %}</th>
                                <th scope="col">{% trans %}Télécharger{% endtrans %}</th>
                            </tr>
                        </thead>
                        <tbody id="fileslist">
                            {% for file in meeting.files %}
                            <!-- Supprimer MeetingFile -->
                                <dialog id="delete-file-{{ file.id }}" class="fr-modal" role="dialog" aria-labelledby="delete-file-{{ file.id }}-title">
                                    <div class="fr-container fr-container--fluid fr-container-md">
                                        <div class="fr-grid-row fr-grid-row--center">
                                            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                                                <div class="fr-modal__body">
                                                    <div class="fr-modal__header">
                                                        <button class="fr-btn--close fr-btn" aria-controls="delete-file-{{ file.id }}" title="{% trans %}Fermer{% endtrans %}">{% trans %}Fermer{% endtrans %}</button>
                                                    </div>
                                                    <div class="fr-modal__content">
                                                        <h1 id="delete-file-{{ file.id }}-title" class="fr-modal__title">
                                                            {% trans %}Supprimer{% endtrans %}
                                                        </h1>
                                                        <p class="padbot">{% trans file_title=file.short_title %}Voulez-vous vraiment supprimer le fichier <em>{{ file_title }}</em> ?{% endtrans %}</p>
                                                        {% if meeting in g.user.get_all_delegated_meetings %}
                                                            <p><i>{% trans meeting_name=meeting.name %}Vous n'êtes pas propriétaire de "{{ meeting_name }}"{% endtrans %}</i></p>
                                                        {% endif %}
                                                    </div>
                                                    <div class="fr-modal__footer">
                                                        <form class="delete" action="{{ url_for("meeting_files.delete_meeting_file") }}" method="POST" onsubmit="deleteFile(event)">
                                                            <input class="fr-input" type="hidden" name="id" value="{{ file.id }}" />
                                                            <ul class="fr-btns-group fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--right">
                                                                <li>
                                                                    <button type="submit" class="fr-btn fr-btn--primary fr-btn--delete" >{% trans %}Supprimer{% endtrans %}</button>
                                                                </li>
                                                                <li>
                                                                    <button type="reset" class="fr-btn fr-btn--secondary" aria-controls="delete-file-{{ file.id }}" title="{% trans %}Annuler{% endtrans %}">{% trans %}Annuler{% endtrans %}</button>
                                                                </li>
                                                            </ul>
                                                            {% include 'meeting/csrf.html' %}
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </dialog>

                                <tr id="{{ file.id }}" >
                                    <td>
                                        <div class="fr-toggle">
                                            {% if file.is_downloadable %}
                                                <input onclick=toggleIsDownloadable(event) checked type="checkbox" class="fr-toggle__input" id="toggle-{{ file.id }}">
                                                <label class="fr-toggle__label" for="toggle-{{ file.id }}" data-fr-checked-label="{% trans %}Oui{% endtrans %}" data-fr-unchecked-label="{% trans %}Non{% endtrans %}"></label>
                                            {% else %}
                                                <input onclick=toggleIsDownloadable(event) type="checkbox" class="fr-toggle__input" id="toggle-{{ file.id }}">
                                                <label class="fr-toggle__label" for="toggle-{{ file.id }}" data-fr-checked-label="{% trans %}Oui{% endtrans %}" data-fr-unchecked-label="{% trans %}Non{% endtrans %}"></label>
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td>{{ file.short_title }}</td>
                                    <td>{{ file.created_at }}</td>
                                    <td>
                                        <button  data-fr-opened="false" aria-controls="delete-file-{{file.id}}"  class="fr-btn  fr-fi-delete-line" title="{% trans %}Supprimer{% endtrans %}"></button>
                                    </td>
                                    <td>
                                        <a href="{{ url_for("meeting_files.download_meeting_files", meeting=meeting, file_id=file.id) }}">
                                            <button class="fr-btn fr-icon-download-fill" title="{% trans %}Télécharger{% endtrans %}"></button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% if not meeting.files|length %}
            <p id="nofileavailable" >{% trans %}Aucun document de présentation n'est prévu pour cette réunion actuellement{% endtrans %}</p>
        {% endif %}
    </div>
</div>

<div class="fr-container fr-mt-4w">
    <a href="{{ url_for("public.welcome") }}">
        <span aria-hidden="true" class="fr-fi-arrow-left-line"></span>
        {% trans %}Retour à mes {{ meeting_label }}s{% endtrans %}
    </a>
</div>
