{% extends 'layout.html' %}

{% block main %}
    {% if admin_mode %}
        <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
            <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1"></button>
            <div class="fr-collapse" id="breadcrumb-1">
                <ol class="fr-breadcrumb__list">
                    <li>
                        <a class="fr-breadcrumb__link" href="{{ url_for('admin.home') }}">{% trans %}Menu Admin{% endtrans %}</a>
                    </li>
                    <li>
                        <a class="fr-breadcrumb__link" href="{{ url_for('admin.manage_meetings') }}">{% trans %}Réunions{% endtrans %}</a>
                    </li>
                    <li>
                        <a class="fr-breadcrumb__link" href="{{ url_for('admin.meeting_infos', meeting=meeting) }}">{{ meeting.name }}</a>
                    </li>
                    <li>
                        <a class="fr-breadcrumb__link" href="{{ url_for("meeting_files.edit_meeting_files", meeting=meeting, admin_mode=admin_mode or None) }}">
                            {% trans meeting_name=meeting.name %}Fichiers associés à {{ meeting_name }}{% endtrans %}
                        </a>
                    </li>
                </ol>
            </div>
        </nav>
    {% endif %}
    {% include 'meeting/files.html' %}
{% endblock %}

{% block js %}
    <script>
        const nc_locator = "{{ g.user.nc_locator }}";
        const nc_login = "{{ g.user.nc_login }}";
        const nc_token = "{{ g.user.nc_token }}";
        const meeting_id = "{{ meeting.id }}";
        const meeting_files_url_base = "/meeting/files/{{ meeting.id }}/";
        const add_meeting_files_url = "{{ url_for("meeting_files.add_meeting_files", meeting=meeting) }}";
        const delete_meeting_file_url = "{{ url_for("meeting_files.delete_meeting_file") }}";
        const accepted_files = "{{ config.ACCEPTED_FILES_CLIENT_SIDE }}";
    </script>
    <script src="{{ url_for("static", filename="nextcloud/filePickerWrapper.js") }}"></script>
    <script src="{{ url_for("static", filename="js/meeting.js") }}"></script>
{% endblock %}
