{% macro render_field(field, generate_button=False) %}
<div class="fr-col-12 fr-py-0">
  {% if field.type == "BooleanField" %}
    <div class="fr-toggle fr-toggle--border-bottom" data-fr-checked-label="Activé" data-fr-unchecked-label="Désactivé">
      {{ field(value="on", class_="fr-toggle__input")}}
      {{ field.label(class_="fr-toggle__label", data_fr_checked_label="Activé", data_fr_unchecked_label="Désactivé") }}
      <p class="fr-hint-text">{{ field.description }}</p>
    </div>
  {% else %}
    <div class="fr-input-group fr-py-2w">
      {{ field.label(class_="fr-label") }}
      <p class="fr-hint-text">{{ field.description }}</p>
      {% if field.errors %}
        {% for error in field.errors %}
        <p class="fr-error-text">{{ error }}</p>
        {% endfor %}
      {% endif %}
      {% if generate_button %}
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-6">
            {{ field(class_="fr-input") }}
          </div>
          <div class="fr-col-2">
            <button type="button" class="fr-btn fr-btn--secondary" onclick="document.getElementById('{{ field.name }}').value = generatePassWord(10)"><i class="ri-refresh-fill"></i></button>
          </div>
        </div>
      {% else %}
        {{ field(class_="fr-input", **kwargs) }}
      {% endif %}
    </div>
  {% endif %}
</div>
{% endmacro %}

{% if meeting is not none %}
  <h1 class="fr-h2">{% trans %}Modifier{% endtrans %} <em>{{meeting.name }}</em></h1>
{% else %}
  <h1 class="fr-h2">{% trans %}Créer{% endtrans %} {{ a_meeting }}</h1>
{% endif %}

<form id="meeting-form" action="{{ url_for("meetings.save_meeting") }}" method="POST">
  {% if form.errors %}
  <p class="fr-error-text">{% trans %}Enregistrement impossible car certains champs sont mal renseignés.{% endtrans %}</p>
  {% endif %}

  {% include 'meeting/csrf.html' %}
  {% include 'meeting/id.html' %}
  {% set name_disabled = meeting is not none %}
  {{ render_field(form.name, pattern="[^\\x22]+", disabled=name_disabled) }}
  <br><br>
  <div class="fr-accordions-group" id="meeting-form-accordion">
      <div class="fr-accordion">
        <h2 class="fr-accordion__title fr-h3">
          <button type="button" class="fr-accordion__btn fr-accordion__btn--icon-right" aria-expanded="false" aria-controls="meeting-form-accordion-body-1">{% trans %}Accueil des participants{% endtrans %}</button>
        </h2>
        <div class="fr-collapse" id="meeting-form-accordion-body-1" aria-labelledby="meeting-form-accordion-body-1">
            <div class="fr-grid-row fr-grid-row--gutters">
              <!--Accueil des participants -->
              {{ render_field(form.guestPolicy) }}

              {% if config.get("ENABLE_PIN_MANAGEMENT") %}
                {{ render_field(form.voiceBridge) }}
              {% endif %}
              {{ render_field(form.welcome) }}
              {{ render_field(form.moderatorOnlyMessage) }}
              <div class="fr-notice fr-notice--info">
                <div class="fr-container">
                    <div class="fr-notice__body">
                        <p class="fr-notice__title">
                          Conseils pour la mise en forme
                        </p>
                    </div>
                    <p>
                      &lt;u&gt;&lt;strong> %%CONFNAME%% &lt;/strong&gt;&lt;/u&gt;<br>
                      %%CONFNAME%% : affiche le nom de votre salle
                    </p>
                </div>
            </div>
            </div>
        </div>
      </div>

      <div class="fr-accordion">
        <h2 class="fr-accordion__title fr-h3">
          <button type="button" class="fr-accordion__btn fr-accordion__btn--icon-right" aria-expanded="{{ 'true' if form.errors else 'false'}}" aria-controls="meeting-form-accordion-body-2">{% trans %}Interactions{% endtrans %}</button>
        </h2>
        <div class="fr-collapse" id="meeting-form-accordion-body-2" aria-labelledby="meeting-form-accordion-body-2">
            <div class="fr-grid-row fr-grid-row--gutters">
              <p class="fr-px-2w">
                {% trans %}Tous ces paramètres sont modifiables directement depuis la salle de réunion à tout moment.{% endtrans %}
              </p>
              <!-- Interactions -->
              {{ render_field(form.lockSettingsDisablePublicChat) }}
              {{ render_field(form.lockSettingsDisablePrivateChat) }}
              {{ render_field(form.lockSettingsDisableNote) }}
              {{ render_field(form.lockSettingsDisableCam) }}
              {{ render_field(form.lockSettingsDisableMic) }}
              {{ render_field(form.muteOnStart) }}
              {{ render_field(form.webcamsOnlyForModerator) }}
            </div>
        </div>
      </div>
    {% if recording %}
      <div class="fr-accordion">
        <h2 class="fr-accordion__title fr-h3">
          <button type="button" class="fr-accordion__btn fr-accordion__btn--icon-right" aria-expanded="{{ 'true' if form.errors else 'false'}}" aria-controls="meeting-form-accordion-body-4">{% trans %}Enregistrement{% endtrans %}</button>
        </h2>
        <div class="fr-collapse" id="meeting-form-accordion-body-4" aria-labelledby="meeting-form-accordion-body-4">
            <div class="fr-grid-row fr-grid-row--gutters">
              <p class="fr-px-2w">
                {% trans %}L'enregistrement de la salle comprend la vidéo, l'audio, le tableau blanc et le tchat public.{% endtrans %}
              </p>
              <!-- Enregistrement -->
              {{ render_field(form.allowStartStopRecording) }}
              {{ render_field(form.autoStartRecording) }}

            </div>
        </div>
      </div>
    {% endif %}
    <div class="fr-accordion">
      <h2 class="fr-accordion__title fr-h3">
        <button type="button" class="fr-accordion__btn fr-accordion__btn--icon-right" aria-expanded="{{ 'true' if form.errors else 'false'}}" aria-controls="meeting-form-accordion-body-3">{% trans %}Paramètres avancés{% endtrans %}</button>
      </h2>
      <div class="fr-collapse" id="meeting-form-accordion-body-3" aria-labelledby="meeting-form-accordion-body-3">
          <div class="fr-grid-row fr-grid-row--gutters">
            <!-- Paramètres avancés -->
            {{ render_field(form.moderatorPW, generate_button=True) }}
            {{ render_field(form.attendeePW, generate_button=True) }}
            <div class="fr-grid-row fr-px-1w fr-grid-row--gutters">
              <div class="fr-col-lg-6 fr-col-12">
                {{ render_field(form.maxParticipants) }}
              </div>
              <div class="fr-col-lg-6 fr-col-12">
                {{ render_field(form.duration) }}
              </div>
            </div>
            {{ render_field(form.logoutUrl, pattern="[^\\x22]+") }}
          </div>
      </div>
    </div>
  </div>
  {% include 'meeting/submit.html' %}
</form>
