<div class="fr-mt-4w">
    {% if not admin_mode %}
        <a href="{{ url_for("public.welcome") }}"><span aria-hidden="true" class="fr-fi-arrow-left-line"></span>{% trans %}Retour à mes réunions{% endtrans %}</a>
    {% else %}
        <a href="{{ url_for("admin.meeting_infos", meeting=meeting) }}">
            <span aria-hidden="true" class="fr-fi-arrow-left-line"></span>
            {% trans meeting_name=meeting.name %}Retour à l'administration de {{ meeting_name }} {% endtrans %}
        </a>
    {% endif %}
</div>
