<div class="fr-grid-row fr-grid-row--gutters fr-pt-1-5v">
    {% if config.get("SHORTY") %}
        <div class="fr-col-4">
            <span class="fr-fi-user-line"></span>
            <a href="{{ url_for("join.join_meeting_as_role", meeting=meeting, role=Role.moderator) }}" target="_blank" rel="noopener" class="fr-tag" title="{% trans meeting_name=meeting.name %}Lancer {{ meeting_name }} - nouvelle fenêtre{% endtrans %}"><span class="fr-fi-play-line"></span></a>
            {% if mailto %}
                <a class="fr-tag" target="_blank" href="mailto:_@_?{{ meeting_mailto_params(meeting, Role.moderator) }}" title="{% trans %}Envoyer un courriel aux modérateurs{% endtrans %}"><span class="ri-mail-line"></span></a>
            {% endif %}
            <a href="#" class="fr-tag" data-clipboard-text="{{ meeting.get_signin_url(Role.moderator) }}" title="{% trans %}Copier le lien Modérateur dans le presse-papiers{% endtrans %}"><span class="ri-clipboard-line"></span></a>
        </div>
        <div class="fr-col-4">
            <span class="ri-group-line"></span>
            <a href="{{ url_for("join.join_meeting_as_role", meeting=meeting, role=Role.attendee) }}" target="_blank" rel="noopener" class="fr-tag" title="{% trans meeting_name=meeting.name %}Participer à {{ meeting_name }} - nouvelle fenêtre{% endtrans %}"><span class="fr-fi-play-line"></span></a>
            {% if mailto %}
                <a class="fr-tag" target="_blank" href="mailto:_@_?{{ meeting_mailto_params(meeting, Role.attendee) }}" title="{% trans %}Envoyer un courriel aux participants{% endtrans %}"><span class="ri-mail-line"></span></a>
            {% endif %}
            <a href="#" class="fr-tag" data-clipboard-text="{{ meeting.get_signin_url(Role.moderator) }}" title="{% trans %}Copier le lien Participant dans le presse-papiers{% endtrans %}"><span class="ri-clipboard-line"></span></a>
        </div>
        <div class="fr-col">
            <a href="{{ url_for("meetings.edit_meeting", meeting=meeting) }}" class="fr-tag" title="{% trans meeting_name=meeting.name %}Modifier {{ meeting_name }}{% endtrans %}" aria-label="{% trans meeting_name=meeting.name %}Modifier {{ meeting_name }}{% endtrans %}"><span class="fr-fi-edit-line"></span></a>
            {% if config.get("FILE_SHARING") %}
                <a href="{{ url_for("meeting_files.edit_meeting_files", meeting=meeting) }}" class="fr-tag" title="Fichiers associés à {{ meeting.name }}" aria-label="Fichiers associés à {{ meeting.name }}"><span class="fr-fi-file-pdf-line"></span></a>
            {% endif %}
            <a href="#"
               class="js-modal fr-tag"
               title="{% trans meeting_name=meeting.name %}Supprimer {{ meeting_name }}{% endtrans %} "
               aria-label="{% trans meeting_name=meeting.name %}Supprimer {{ meeting_name }}{% endtrans %}"
               data-modal-content-id="delete-{{ meeting.id }}"
               data-modal-title="{% trans meeting_name=meeting.name %}Supprimer {{ meeting_name }}{% endtrans %} "
               data-modal-close-text="x"
               data-modal-close-title="{% trans %}Fermer la fenêtre modale{% endtrans %}"><span class="fr-fi-delete-line"></span></a>
        </div>
    {% else %}
        <div class="fr-col-xs-6 fr-col-sm-6 fr-col-lg-6">
            <a href="{{ url_for("join.join_meeting_as_role", meeting=meeting, role=Role.moderator) }}" target="_blank" rel="noopener" class="fr-btn fr-btn--primary" title="{% trans meeting_name=meeting.name %}Lancer {{ meeting_name }} - nouvelle fenêtre{% endtrans %}">{% trans %}Lancer{% endtrans %}</a>
            <button class="fr-btn fr-btn--secondary"  data-fr-opened="false" aria-controls="share-{{ meeting.id }}">
                {% trans %}Inviter{% endtrans %}
            </button>
        </div>
        <div class="fr-col-xs-6 fr-col-sm-6 fr-col-lg-6 btn-actions">
            {% if config.get("RECORDING") %}
                <a href="{{ url_for("meetings.show_meeting_recording", meeting=meeting) }}" class="fr-btn fr-btn--secondary fr-icon-play-line" title="{% trans meeting_name=meeting.name %}Voir les enregistrements de {{ meeting_name }}{% endtrans %}" aria-label="{% trans meeting_name=meeting.name %}Voir les enregistrements de {{ meeting_name }}{% endtrans %}">
                    {% trans meeting_name=meeting.name %}Voir les enregistrements de {{ meeting_name }}{% endtrans %}
                </a>
            {% endif %}
            <a href="{{ url_for("meetings.edit_meeting", meeting=meeting) }}" class="fr-btn fr-btn--secondary fr-icon-edit-line" title="{% trans meeting_name=meeting.name %}Modifier {{ meeting_name }}{% endtrans %}" aria-label="{% trans meeting_name=meeting.name %}Modifier {{ meeting_name }}{% endtrans %}">{% trans meeting_name=meeting.name %}Modifier {{ meeting_name }}{% endtrans %}</a>
            {% if config.get("FILE_SHARING") %}
                <a href="{{ url_for("meeting_files.edit_meeting_files", meeting=meeting) }}" class="fr-btn fr-btn--secondary fr-icon-file-pdf-line" title="Fichiers associés à {{ meeting.name }}" aria-label="Fichiers associés à {{ meeting.name }}">Fichiers associés à {{ meeting.name }}</a>
            {% endif %}
            <button class="fr-btn fr-btn--secondary fr-fi-delete-line"  data-fr-opened="false" aria-controls="delete-{{ meeting.id }}">
                Supprimer {{ meeting.name }}
            </button>
        </div>
    {% endif %}
</div>
