    <h1 class="fr-h2">{% trans %}Rejoindre {{ the_meeting }}{% endtrans %}</h1>
    <form action="{{ url_for("routes.join_mail_meeting") }}" method="POST">
      {% include 'meeting/csrf.html' %}
      <input type="hidden" id="meetingID" name="meeting_fake_id" value="{{ meeting_fake_id }}" />
      <input type="hidden" id="user_id" name="user_id" value="{{ user_id }}" />
      <input type="hidden" id="expiration" name="expiration" value="{{ expiration }}" />
      <input type="hidden" id="h" name="h" value="{{ h }}" />
      {% if fullname and not user %}
      <p>
        {% trans %}Votre {{ meeting_label }} n'a pas encore été activée par un modérateur{% endtrans %}
      </p>
      {% endif %}
      <div class="fr-input-group">
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col">
            <label for="fullname" class="fr-label" aria-describedby="text-input-desc">{% trans %}Votre nom{% endtrans %}</label>
            <p class="fr-hint-text" id="text-input-desc">{% trans %}Vous pouvez également préciser votre service ou votre fonction.{% endtrans %}</p>
            <input type="text" required class="fr-input" id="fullname" name="fullname" {% if fullname %}value="{{ fullname }}"{% endif %} />
          </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col">
            <button type="submit" class="fr-btn fr-btn-primary" >{% trans %}Rejoindre{% endtrans %}</button>
          </div>
        </div>
      </div>
    </form>
