<div>
    {% if g.user %}
        <h4>{% trans %}Saisir le code de connexion de votre {{ meeting_label }}{% endtrans %}</h4>
    {% elif config.get("ENABLE_LASUITENUMERIQUE") and not g.user %}
        <h2>{% trans %}Saisir le code de connexion de votre {{ meeting_label }}{% endtrans %}</h2>
    {% else %}
        <h6>{% trans %}Saisir le code de connexion de votre {{ meeting_label }}{% endtrans %}</h6>
    {% endif %}
    <p>
        {% trans %}Remplissez le code de connexion reçu dans l’invitation {{ of_the_meeting }}.{% endtrans %}<br><br>
    </p>
    <form id="visio-code-form" action="{{ url_for("join.visio_code_connection") }}" method="POST" target="_blank">
        {% include 'meeting/csrf.html' %}
        <div class="fr-container--fluid fr-mb-3w">
            <div class="visio-code-container">
                <div class="visio-code-input-container fr-input-group">
                    <input type="text" minlength="3" maxlength="3" id="visio-code1" name="visio_code1" class="fr-input" inputmode="numeric" pattern="^\d{3,3}$" placeholder="- - -" data-visio-code-id="1">
                </div>
                <div class="visio-code-input-container fr-input-group">
                    <input type="text" minlength="3" maxlength="3" id="visio-code2" name="visio_code2" class="fr-input" inputmode="numeric" pattern="^\d{3,3}$" placeholder="- - -" data-visio-code-id="2">
                </div>
                <div class="visio-code-input-container fr-input-group">
                    <input type="text" minlength="3" maxlength="3" id="visio-code3" name="visio_code3" class="fr-input" inputmode="numeric" pattern="^\d{3,3}$" placeholder="- - -" data-visio-code-id="3">
                </div>
            </div>
        </div>

        <div class="captcha-container" id="captcha-container" style="{% if not should_display_captcha %}display: none;{% endif %}">
            <div id="captchetat" captchaStyleName="captchaFR" altImage="Recopier le code de sécurité de cette
                                                                        image" urlBackend="{{ url_for("captcha.captcha_proxy") }}"></div>
            <label class="fr-label" for="text-input" id="captcha-description"></label>
            <input class="fr-input" type="text" placeholder="{% trans %}SAISIR LE CAPTCHA{% endtrans %}" id="captchaCode" name="captchaCode" maxlength="12"/>
        </div>

        <br>

        <div class="fr-container--fluid">
            <div class="fr-grid-row">
                <button type="submit" id="submit-visio-code" class="fr-btn fr-btn--primary" disabled title="{% trans %}Connexion{% endtrans %}">
                    {% trans %}Connexion{% endtrans %}
                </button>
            </div>
        </div>
    </form>

    <br>
</div>

{% block js %}
    <script>
        window.shouldDisplayCaptcha = {{ should_display_captcha|tojson }};
        window.visioCodeFormValidationUrl = {{ url_for("join.visio_code_form_validation")|tojson }};
    </script>
    <script src="{{ url_for('static', filename='captchetat/captchetat-js.js')}}"></script>
    <script src="{{ url_for('static', filename='js/visio_code_form.js')}}"></script>
{% endblock %}
