<div>
    {% if user %}
        <h4>{% trans %}Saisir le code de connexion de votre {{ meeting_label }}{% endtrans %}</h4>
    {% elif config.get("ENABLE_LASUITENUMERIQUE") and not user %}
        <h2>{% trans %}Saisir le code de connexion de votre {{ meeting_label }}{% endtrans %}</h2>
    {% else %}
        <h6>{% trans %}Saisir le code de connexion de votre {{ meeting_label }}{% endtrans %}</h6>
    {% endif %}
    <p>
        {% trans %}Remplissez le code de connexion reçu dans l’invitation {{ of_the_meeting }}.{% endtrans %}<br><br>
    </p>
    <form id="visio-code-form" action="{{ url_for("join.visio_code_connexion") }}" method="POST">
        {% include 'meeting/csrf.html' %}
        <input type="hidden" id="visio-code" name="visio_code" value="" />
        <input type="hidden" id="captcha-uuid" name="captcha_uuid" value="" />
        <input type="hidden" id="captcha-code" name="captcha_code" value="" />
    </form>
    <div class="fr-container--fluid fr-mb-3w">
        <div class="visio-code-container">
            <div class="visio-code-input-container fr-input-group">
                <input type="text" minlength="3" maxlength="3" id="visio-code1" class="fr-input" placeholder="- - -">
            </div>
            <div class="visio-code-input-container fr-input-group">
                <input type="text" minlength="3" maxlength="3" id="visio-code2" class="fr-input" placeholder="- - -">
            </div>
            <div class="visio-code-input-container fr-input-group">
                <input type="text" minlength="3" maxlength="3" id="visio-code3" class="fr-input" placeholder="- - -">
            </div>
        </div>
    </div>

    {% if "visio_code_attempt_counter" in session and session["visio_code_attempt_counter"] > config.get("CAPTCHA_NUMBER_ATTEMPTS") %}
    <div class="captcha-container">
        <div id="captchetat" captchaStyleName="captchaFR" altImage="Recopier le code de sécurité de cette
    image" urlBackend="{{ url_for("captcha.captcha_proxy") }}"></div>
        <label class="fr-label" for="text-input" id="captcha-description"></label>
        <input class="fr-input" type="text" placeholder="SAISIR LE CAPTCHA" id="captchaCode" name="captchaCode" maxlength="12"/>
    </div>
    {% endif %}
    <br>
    <div class="fr-container--fluid">
        <div class="fr-grid-row">
            <button id="submit-visio-code" class="fr-btn fr-btn--primary" disabled title="{% trans %}Connexion{% endtrans %}" onclick="formValidateAndSubmit()">
                {% trans %}Connexion{% endtrans %}
            </button>
        </div>
    </div>
    <br>
</div>

{% block js %}
<script src="{{ url_for('static', filename='captchetat/captchetat-js.js')}}"></script>

<script>
    const captchaIsNeeded = Boolean({{ session.get("visio_code_attempt_counter") }} > {{ config.get("CAPTCHA_NUMBER_ATTEMPTS") }});
    const inputs = document.querySelectorAll(".visio-code-container .visio-code-input-container input");
    let captchaInput = null;
    let captchaDescription = null;
    if (captchaIsNeeded) {
        captchaInput = document.getElementById("captchaCode");
        captchaDescription = document.getElementById("captcha-description");
    }

    const getVisioCode = () => {
        return Array.from(inputs).map(i => i.value).join("");
    }

    const visioCodeIsComplete = () => {
        const visioCode = getVisioCode();
        return visioCode.match(/\d{9}$/);
    }

    const formIsComplete = () => {
        if (captchaIsNeeded) {
            return captchaInput.value != "" && visioCodeIsComplete();
        } else {
            return visioCodeIsComplete();
        }
    }

    const allowSubmitButton = (event, input) => {
        if (formIsComplete()) {
                document.getElementById("submit-visio-code").disabled = false;
                if (event.key == "Enter") {
                    formValidateAndSubmit(input);
                }
            } else {
                document.getElementById("submit-visio-code").disabled = true;
            }
    }

    const formValidateAndSubmit = async (input) => {
        if (captchaIsNeeded) {
            if (await captchaValidation() && visioCodeIsComplete()) {
                formValidation(getVisioCode());
            } else {
                captchaDescription.innerHTML = "Captcha saisi incorrect";
            }
        } else if (visioCodeIsComplete()) {
            formValidation(getVisioCode());
        } else {
            visualValidation(input);
        }
    }

    const focusAtEnd = (input) => {
        input.focus();
        input.selectionStart = 3;
        input.selectionEnd = 3;
    }
    const formValidation = (visioCode) => {
        document.getElementById("visio-code").value = visioCode;
        if (captchaIsNeeded) {
            document.getElementById("captcha-uuid").value = document.getElementById('captchetat-uuid').value,
            document.getElementById("captcha-code").value = document.getElementById('captchaCode').value
        }
        document.getElementById("visio-code-form").submit();
    }

    const moveToNextInputIfNeeded = (target) => {
        const isAtEnd = target.selectionStart == target.value.length && target.value.length == target.selectionEnd;
        const nextSibling = target.parentElement.nextElementSibling;
        if (nextSibling && nextSibling.children) {
            const nextSiblingChild = nextSibling.children[0];
            const nextSiblingInput = nextSiblingChild && nextSiblingChild.nodeName === "INPUT";
            if (nextSiblingInput && isAtEnd) {
                nextSiblingChild.focus();
                nextSiblingChild.selectionStart = 0;
                nextSiblingChild.selectionEnd = 0;
            }
        }
    }

        const moveToPreviousInputIfNeeded = (target) => {
            const isAtBeginning = target.selectionStart == 0 && target.selectionEnd == 0;
            const previousSibling = target.previousElementSibling;
            const previousSiblingInput = previousSibling && target.previousElementSibling.nodeName === "INPUT";
            if (isAtBeginning && previousSiblingInput) {
                focusAtEnd(previousSibling);
            }
        }

    const visualValidation = (target) => {
        parent = target.parentElement;
        if (target.value == "") {
            parent.classList.remove("fr-input-group--valid")
            parent.classList.remove("fr-input-group--error")
        } else if (!target.value.match(/\d{3}$/) && !parent.classList.contains("fr-input-group--error")) {
            parent.classList.remove("fr-input-group--valid")
            parent.classList.add("fr-input-group--error")
        } else if (target.value.match(/\d{3}$/) && !parent.classList.contains("fr-input-group--valid")) {
            parent.classList.remove("fr-input-group--error")
            parent.classList.add("fr-input-group--valid")
        }
    }

    if (captchaIsNeeded) {
        captchaInput.addEventListener("keyup", (event) => {
            allowSubmitButton(event, captchaInput)
    })
    }

    inputs.forEach((input) => {
        visualValidation(input);
        input.addEventListener("keyup", (event) => {
            if (input.value.length >= 3 && event.key.length == 1) {
                moveToNextInputIfNeeded(input);
            }
            if (event.key == "Backspace" || event.key == "ArrowLeft") {
                moveToPreviousInputIfNeeded(input);
            } else if (event.key == "ArrowRight") {
                moveToNextInputIfNeeded(input);
            }
            visualValidation(input);
            allowSubmitButton(event, input)
        })
        input.addEventListener('paste', (event) => {
            event.preventDefault()
            const pasteData = (event.clipboardData || window.clipboardData).getData('text');
            const chars = [pasteData.slice(0,3), pasteData.slice(3,6), pasteData.slice(6,9)];
            inputs.forEach((pastedInput, index) => {
                pastedInput.value = chars[index];
                visualValidation(pastedInput);
                if (pasteData.length <= 3 && index == 0) {
                    focusAtEnd(pastedInput);
                } else if (pasteData.length > 3 && pasteData.length <= 6 && index == 1) {
                    focusAtEnd(pastedInput);
                } else if (pasteData.length > 6 && index == 2) {
                    focusAtEnd(pastedInput);
                }
            })
        });
    })

    const captchaValidation = async () => {
        let csrf_token = document.getElementsByName("csrf_token")[0].value;
        let captchaValidationResponse = false;
        const postData = {
            uuid: document.getElementById('captchetat-uuid').value,
            code: document.getElementById('captchaCode').value
        };
        const url = "{{ url_for('captcha.prepare_captcha_validation') }}";
        try {
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-CSRFToken':csrf_token
                },
                body: JSON.stringify(postData)
            });
            const data = await response.json();
            if (data.success === false) {
                window.captchetatComponentModule.refreshCaptcha();
                captchaValidationResponse = false;
            } else {
                captchaValidationResponse = true;
            }
        } catch (error) {
            console.error('Erreur lors de la requête CAPTCHA :', error);
        }
        return captchaValidationResponse;
    }
</script>
{% endblock %}
