<div>
    {% if user %}
    <h4>{% trans %}Saisir le code de connexion {{ of_the_meeting }}{% endtrans %}</h4>
    {% elif config.get("ENABLE_LASUITENUMERIQUE") and not user %}
    <h2>{% trans %}Saisir le code de connexion {{ of_the_meeting }}{% endtrans %}</h2>
    {% else %}
    <h6>{% trans %}Saisir le code de connexion {{ of_the_meeting }}{% endtrans %}</h6>
    {% endif %}
    <p>
        {% trans %}Remplissez le code de connexion reçu dans l’invitation {{ of_the_meeting }}.{% endtrans %}<br><br>
    </p>
    <form id="visio-code-form" action="{{ url_for("join.visio_code_connexion") }}" method="POST">
        {% include 'meeting/csrf.html' %}
        <input type="hidden" id="visio-code" name="visio_code" value="" />
    </form>
    <div class="fr-container--fluid fr-mb-3w">
        <div class="visio-code-container">
            <input type="text" minlength="3" maxlength="3" id="visio-code1" class="fr-input" placeholder="- - -">
            <input type="text" minlength="3" maxlength="3" id="visio-code2" class="fr-input" placeholder="- - -">
            <input type="text" minlength="3" maxlength="3" id="visio-code3" class="fr-input" placeholder="- - -">
        </div>
    </div>
    <div class="fr-container--fluid">
        <div class="fr-grid-row">
            <button id="submit-visio-code" class="fr-btn fr-btn--primary" disabled title="{% trans %}Connexion{% endtrans %}" onclick="formValidateAndSubmit()">
                {% trans %}Connexion{% endtrans %}
            </button>
        </div>
    </div>
</div>

{% block js %}
<script>
    const formValidation = (visioCode) => {
        document.getElementById("visio-code").value = visioCode;
        document.getElementById("visio-code-form").submit();
    }

    const moveToNextInputIfNeeded = (target) => {
        const isAtEnd = target.selectionStart == target.value.length && target.value.length == target.selectionEnd;
        const nextSibling = target.nextElementSibling;
        const nextSiblingInput = nextSibling && target.nextElementSibling.nodeName === "INPUT";
        if (nextSiblingInput && isAtEnd) {
            nextSibling.focus();
            nextSibling.selectionStart = 0;
            nextSibling.selectionEnd = 0;
        }
    }

    const moveToPreviousInputIfNeeded = (target) => {
        const isAtBeginning = target.selectionStart == 0 && target.selectionEnd == 0;
        const previousSibling = target.previousElementSibling;
        const previousSiblingInput = previousSibling && target.previousElementSibling.nodeName === "INPUT";
        if (isAtBeginning && previousSiblingInput) {
            previousSibling.focus();
            previousSibling.selectionStart = 3;
            previousSibling.selectionEnd = 3;
        }
    }

    const visualValidation = (target) => {
        if (target.value == "") {
            target.classList.remove("fr-input--valid")
            target.classList.remove("fr-input--error")
        } else if (!target.value.match(/\d{3}$/) && !target.classList.contains("fr-input--error")) {
            target.classList.remove("fr-input--valid")
            target.classList.add("fr-input--error")
        } else if (target.value.match(/\d{3}$/) && !target.classList.contains("fr-input--valid")) {
            target.classList.remove("fr-input--error")
            target.classList.add("fr-input--valid")
        }
    }

    const inputs = document.querySelectorAll(".visio-code-container input");

    inputs.forEach((input) => {
        visualValidation(input);
        input.addEventListener("keyup", (event) => {
            if (input.value.length >= 3 && event.key.length == 1) {
                moveToNextInputIfNeeded(input);
            }
            if (event.key == "Backspace" || event.key == "ArrowLeft") {
                moveToPreviousInputIfNeeded(input);
            } else if (event.key == "ArrowRight") {
                moveToNextInputIfNeeded(input);
            }
            visualValidation(input);

            const visioCode = Array.from(inputs).map(i => i.value).join("");
            if (visioCode.match(/\d{9}$/)) {
                document.getElementById("submit-visio-code").disabled = false;
                if (event.key == "Enter") {
                    formValidation(visioCode);
                }
            } else {
                document.getElementById("submit-visio-code").disabled = true;
            }
        })
        input.addEventListener('paste', (event) => {
            const pasteData = (event.clipboardData || window.clipboardData).getData('text');
            const chars = [pasteData.slice(0,3), pasteData.slice(3,6), pasteData.slice(6,9)];
            inputs.forEach((pastedInput, index) => {
                pastedInput.value = chars[index];
                visualValidation(pastedInput);
                if (index == 2) {
                    pastedInput.focus();
                    pastedInput.selectionStart = 3;
                    pastedInput.selectionEnd = 3;
                }
            })
        });
    })

    const formValidateAndSubmit = () => {
        const visioCode = Array.from(inputs).map(i => i.value).join("");
        if (visioCode.match(/\d{9}$/)) {
                formValidation(visioCode);
        } else {
            visualValidation(input);
        }
    }
</script>
{% endblock %}
