{% extends 'layout.html' %}

{% block main %}
    <div class="fr-mt-4w fr-grid-row fr-grid-row--center">
        <div class="fr-col-sm-12 fr-col-md-10 fr-col-lg-8 connected">
            <h5 class="fr-h5">
                {% trans %}Bonjour {{ fullname }}, vous pourrez bientôt entrer{% endtrans %}
            </h5>

            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>

            <p>
                {% if role == Role.moderator %}
                    {% trans %}
                        La salle de visio-conférence est en cours de création. Vous entrerez automatiquement dans la salle dès qu'elle sera opérationnelle.
                    {% endtrans %}
                {% else %}
                    {% trans %}
                        Votre hôte n’est pas encore arrivé. Vous entrerez automatiquement dans la salle de visio-conférence dès qu’il sera présent.
                    {% endtrans %}
                {% endif %}
            </p>

            <form id="joinMeetingForm" action="{{ url_for("join.join_meeting") }}" method="POST">
                {% include 'meeting/csrf.html' %}
                <input type="hidden" id="meetingID" name="meeting_fake_id" value="{{ meeting_fake_id }}" />
                <input type="hidden" id="h" name="h" value="{{ h }}" />
                <input type="hidden" id="fullname" name="fullname" value="{{ fullname }}" />
                <input type="hidden" id="fullname_suffix" name="fullname_suffix" value="{{ fullname_suffix }}" />
                <input type="hidden" id="seconds_before_refresh" name="seconds_before_refresh" value="{{ seconds_before_refresh }}" />
                <input type="hidden" id="quick_meeting" name="quick_meeting" value="{{ quick_meeting }}" />
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/wait.js')}}"></script>
{% endblock %}
