{% extends 'layout.html' %}
{% from 'admin/macros.html' import breadcrumb %}

{% block jumbotron %}
{% endblock %}

{% block main %}
    {% if admin_mode %}
        {{ breadcrumb([
        {'href': url_for('admin.home'), 'label': _('Menu Admin')},
        {'href': url_for('admin.manage_meetings'), 'label': _('Réunions')},
        {'href': url_for('admin.meeting_infos', meeting=meeting), 'label': meeting.name},
        {'href': url_for('meetings.edit_meeting', meeting=meeting, admin_mode=admin_mode or None), 'label': _('Modifier') ~ ' ' ~ meeting.name},
        ]) }}
    {% endif %}
    {% include 'meeting/form.html' %}
    {% if meeting in g.user.get_all_delegated_meetings %}
        {% include 'meeting/modals/delegate-confirmation.html' %}
    {% endif %}
{% endblock %}
