{% extends 'layout.html' %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block jumbotron %}
    {% include 'rie.html' %}
{% endblock %}


{% block main %}
    {% include 'meeting/signin.html' %}
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}

{% block js %}
    {% if retry_join_meeting %}
    <script>
        let joinMeeting = () => {
            document.getElementById("joinMeetingForm").submit()
        }
        setTimeout(joinMeeting, 10000)
    </script>
    {% endif %}
{% endblock %}