<div class="list-meeting-rooms">
  <h2>{% trans %}Mes salles de {{ some_meetings }}{% endtrans %}</h2>
  {% if can_create_meetings == true %}
  <p class="fr-text--sm"><a href="/meeting/new" ><span aria-hidden="true" class="ri-add-line"></span> {% trans %}Créer une salle de {{ meeting_label }}</a> vous permet de conserver les réglages et le lien de la salle.{% endtrans %}</p>
  {% else %}
  <div class="fr-highlight error">
    <p class="">
      <i class="ri-error-warning-line"></i>
      {% trans %}Vous avez atteint la limite des {{ max_meetings_per_user }} {{ meeting_label }}s. Pour pouvoir en créer davantage, veuillez supprimer des {{ meeting_label }}s inactives.{% endtrans %}
    </p>
  </div>
  {% endif %}

  {% for meeting in meetings %}
  <div class="fr-grid-row">
    <div class="fr-col meeting-room">
      <h3 class="fr-text--lg fr-mt-1-5v">{{ meeting.name }}</h3>
      {% include 'meeting/row.html' %}
    </div>
  </div>
  {% include 'meeting/modals.html' %}
  {% endfor %}
  {% if meetings|length and config.get("SATISFACTION_POLL_URL") %}
    <iframe id="iframe-poll"
      frameborder=0
      src="{{ config.get("SATISFACTION_POLL_URL") }}"
      height="500" scrolling="no"
      sandbox="allow-scripts allow-same-origin allow-forms"></iframe>
  {% endif %}
</div>
