<div class="fr-header__brand fr-enlarge-link">
    <div class="fr-header__brand-top">
        <div class="fr-header__logo">
            <p class="fr-logo">
            République
            <br>Française
            </p>
        </div>
        <div class="fr-header__navbar">
            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-616" aria-haspopup="menu" id="button-617" title="Menu">
                Menu
            </button>
            {% if config.get("ENABLE_LASUITENUMERIQUE") %}
                <button
                    type="button"
                    class="lasuite-gaufre-btn lasuite-gaufre-btn--vanilla js-lasuite-gaufre-btn"
                    title="Les services de La Suite numérique"
                    >
                    Les services de La Suite numérique
                </button>
            {% endif %}
        </div>
    </div>
    <div class="fr-header__service">
        <a href="{{ url_for("public.index") }}" title="Accueil - {{ service_title }} - République Française">
            <!-- Webinaire de l'État -->
            <p class="fr-header__service-title">
            {% trans %}{{ service_title }}{% endtrans %}
            {% if config.get("BETA") %}
                {% if development_version %}
                    <span class="fr-badge fr-badge--sm fr-badge--warning">DEV</span>
                {% else %}
                    <span class="fr-badge fr-badge--sm fr-badge--green-emeraude">BETA</span>
                {% endif %}
            {% endif %}
            </p>
        </a>
        <!-- Le service de réunions en ligne pour les agents de l'État -->
        <p class="fr-header__service-tagline">{% trans %}{{ service_tagline }}{% endtrans %}</p>
    </div>
</div>
