<header role="banner" class="fr-header lasuite-header">
    <div class="fr-header__body">
        <div class="fr-container lasuite-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand lasuite-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top lasuite-header__brand-top">
                        <div class="fr-header__logo"><p class="fr-logo">{{ service_title }}</p></div>
                    </div>
                    <div class="fr-header__service lasuite-header__service">
                        <a
                            class="lasuite-header__service-link"
                            href="/"
                            title="{% trans service_title %}Accueil - {{ service_title }}{% endtrans %}"
                            aria-label="{% trans service_title %}Accueil - {{ service_title }}{% endtrans %}"
                        >
                            <img
                                class="lasuite-header__service-logo fr-responsive-img"
                                src="/static/images/webinaire.svg"
                                alt=""
                            />
                            <p class="fr-header__service-title lasuite-header__service-title">
                                {{ service_title }}
                            </p>
                        </a>
                    </div>
                </div>
                <div class="fr-header__tools">
                    <div
                        class="fr-header__tools-links lasuite-header__tools-links"
                        data-fr-js-header-links="true"
                    >
                        <button
                            type="button"
                            class="lasuite-gaufre-btn lasuite-gaufre-btn--vanilla js-lasuite-gaufre-btn"
                            title="{% trans %}Les services de La Suite numérique{% endtrans %}"
                        >
                            Les services de La Suite numérique
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
