<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                {% include 'brand.html' %}
                {% include 'tools.html' %}
            </div>
        </div>
    </div>
    <div class="fr-header__menu fr-modal" id="modal-616" aria-labelledby="button-617">
        <div class="fr-container">
            <button class="fr-btn--close fr-btn" aria-controls="modal-616" title="{% trans %}Fermer{% endtrans %}">
                {% trans %}Fermer{% endtrans %}
            </button>
            <div class="fr-header__menu-links">
            </div>
        </div>
    </div>
</header>
