<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">

        <title>{{ config["TITLE"] }}</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dsfr-1.7/dsfr/dsfr.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/toc.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/remixicon/remixicon.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/spinner.css') }}">
    </head>

    <body>
        <div id="static-page">
            {% block header %}
            {% include 'header.html' %}
            {% endblock %}
            <main role="main" id="main" class="fr-container" >
                <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
                    <div class="fr-col-xs-12 fr-col-md-10 fr-col-xl-8 fr-py-7w">
                        {% block main %}{% endblock %}
                    </div>
                </div>
            </main>

            {% block footer %}
            {% include 'footer.html' %}
            {% endblock %}

            <script src="{{ url_for('static', filename='dsfr-1.7/dsfr/dsfr.module.min.js')}}"></script>
            <script type="text/javascript" nomodule href="dsfr-1.7/dsfr/dsfr.nomodule.min.js" ></script>
            <!-- Scampi Modal en attendant la modale GouvFr-->
            <script src="{{ url_for('static', filename='js/scampi-modal.js')}}"></script>
            <!-- minified nc filepicker : from https://github.com/julien-nc/nextcloud-webdav-filepicker -->
            <!-- <script src="{{ url_for('static', filename='js/filePickerWrapper.js')}}"></script> -->
            {% if config.get("MATOMO_SITE_ID") and config.get("MATOMO_URL") %}
            <script>
                var _paq = window._paq = window._paq || [];
                /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
                    _paq.push(['trackPageView']);
                _paq.push(['enableLinkTracking']);
                (function() {
                    var u="{{ config.get("MATOMO_URL") }}";
                    _paq.push(['setTrackerUrl', u+'piwik.php']);
                    _paq.push(['setSiteId', '{{ config.get("MATOMO_SITE_ID") }}']);
                    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                    g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
                })();
            </script>
            {% endif %}
            {% block js %}{% endblock %}
        </div>
    </body>
</html>
