{% extends 'layout.html' %}
{% from 'admin/macros.html' import breadcrumb %}

{% block main %}
    {{ breadcrumb([
    {'href': url_for('admin.home'), 'label': _('Menu Admin')},
    {'href': url_for('admin.manage_groups'), 'label': _('Groupes')},
    {'href': url_for('admin.group_infos', group=group), 'label': group.name},
    {'href': url_for('admin.delete_group', group=group), 'label': _('Supprimer') ~ ' ' ~ group.name},
    ]) }}
    <h5>{{  group.name }}</h5>
    <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--icon-left">
        <li>
            <form method="post" action="{{ url_for("admin.confirm_delete_group", group=group) }}">
                {% include 'meeting/csrf.html' %}
                <button type="submit" class="fr-btn fr-btn--delete" title="{% trans %}Supprimer le groupe{% endtrans %}">
                    {% trans group_name=group.name %}Confirmer la suppression du groupe{% endtrans %}
                </button>
            </form>
        </li>
        <li>
            <a href="{{ url_for("admin.group_infos", group=group) }}" rel="noopener" class="fr-btn fr-btn--secondary" title="{% trans group_name=group.name %}Supprimer {{ group_name }}{% endtrans %}">
                {% trans %}Annuler{% endtrans %}
            </a>
        </li>
    </ul>
{% endblock %}
