{% extends 'layout.html' %}

{% block main %}
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1"></button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{{ url_for('admin.home') }}">{% trans %}Menu Admin{% endtrans %}</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{{ url_for('admin.manage_groups') }}">{% trans %}Groupes{% endtrans %}</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{{ url_for('admin.manage_group_members', group=group) }}">
                        {% trans %}Gérer les membres de{% endtrans %} {{ group.name }}
                    </a>
                </li>
            </ol>
        </div>
    </nav>
    <h1 class="fr-h2">{% trans %}Gérer les membres{% endtrans %}</h2>
    <form class="fr-search-bar" id="memberSearchForm", name="search_by_email" role="search" action="{{ url_for('admin.manage_group_members', group=group) }}" method="post">
        {% include 'meeting/csrf.html' %}
        {{ form.search.label(class_="fr-label") }}
        {{ form.search(class_="fr-input")  }}
        <button title="{% trans %}Ajouter l'utilisateur au groupe{% endtrans %}" type="submit" class="fr-btn"></button>
    </form>
    {% include 'admin/group_member_table.html'%}
{% endblock %}
