<div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12">
        <div class="fr-table fr-table--no-caption" id="group-members-component">
            <div class="fr-table__wrapper ">
                <div class="fr-table__container">
                    <div class="fr-table__content">
                        <table id="group-members">
                            <thead class="">
                                <tr class="">
                                    <th class="fr-col--lg fr-cell--center">{% trans group_name=group.name %}Liste des membres de {{ group_name }}{% endtrans %} ({{ group.members|length }} {% if group.members|length >1 %}{% trans %}membres{% endtrans %}{% else %}{% trans %}membre{% endtrans %}{% endif %})</th>
                                    <th class="fr-col fr-cell--center">{% trans %}Consulter{% endtrans %}</th>
                                    <th class="fr-col--xs fr-cell--center">Supprimer</th>
                                </tr>
                            </thead>
                            <tbody class="">
                                {% for member in group.members %}
                                    <tr class="">
                                        <td class="fr-col--lg fr-cell--center">{{member.fullname}}</td>
                                        <td class="fr-col fr-cell--center">
                                            <a href="{{ url_for("admin.user_infos", user=member) }}" rel="noopener" class="fr-btn fr-btn--secondary fr-icon-eye-line" title="{% trans username=member.fullname %}{{ username }} infos{% endtrans %}"></a>
                                        </td>
                                        <td class="fr-col--xs fr-cell--center">
                                            <a class="fr-btn fr-btn--secondary fr-fi-delete-line" title="{% trans %}Supprimer le membre{% endtrans %}" href="{{ url_for("admin.remove_member", group=group, member=member) }}"></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if not group.members %}
    <p>Ce groupe n'a pas encore de membre.</p>
{% endif %}
