{% extends 'layout.html' %}

{% block main %}
    {% include 'admin/options.html' %}
    <form class="fr-search-bar", id="groupSearchForm", name="search_group" role="search" action="{{ url_for("admin.manage_groups") }}" method="post">
        {% include 'meeting/csrf.html' %}
        <button title="{% trans %}Rechercher une réunion{% endtrans %}" type="submit" class="fr-btn"></button>
        {{ form.search.label(class_="fr-label") }}
        {{ form.search(class_="fr-input")  }}
    </form>
    {% set groups = groups_page.items %}
    {% if not groups %}
        <br>
        <p>{% trans %}Aucun groupe ne correspond à cette recherche.{% endtrans %}</p>
    {% else %}
        {% include 'admin/group_table.html' %}
        <nav>
            {% if groups_page.has_prev %}
                <a href="{{ url_for('admin.manage_groups', groups_page=groups_page.prev_num)}}">Précédent</a>
            {% endif %}

            <span>Page {{ groups_page.page }} / {{ groups_page.pages }}</span>

            {% if groups_page.has_next %}
                <a href="{{ url_for('admin.manage_groups', groups_page=groups_page.next_num)}}">Suivant</a>
            {% endif %}
        </nav>
    {% endif %}
{% endblock %}
