{% extends 'layout.html' %}

{% block main %}
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1"></button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{{ url_for('admin.home') }}">{% trans %}Menu Admin{% endtrans %}</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{{ url_for('admin.manage_groups') }}">{% trans %}Groupes{% endtrans %}</a>
                </li>
                {% if group is none %}
                    <li>
                        <a class="fr-breadcrumb__link" href="{{ url_for('admin.create_group') }}">{% trans %}Créer groupe{% endtrans %}</a>
                    </li>
                {% else %}
                    <li>
                        <a class="fr-breadcrumb__link" href="{{ url_for('admin.group_infos', group=group) }}">{{ group.name }}</a>
                    </li>
                    <li>
                        <a class="fr-breadcrumb__link" href="{{ url_for('admin.edit_group', group=group) }}">
                            {% trans %}Modifier{% endtrans %} {{ group.name }}
                        </a>
                    </li>
                {% endif %}
            </ol>
        </div>
    </nav>
    {% macro render_field(field, description=None) %}
        <div class="fr-container--fluid">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-4">
                    {{ field.label(class_="fr-label") }}
                    <div class="fr-input-group">
                        <p class="fr-hint-text">{{ description or field.description }}</p>
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p class="fr-error-text">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="fr-col-8">
                    {{ field(class_="fr-input", **kwargs) }}
                </div>
            </div>
        </div>
    {% endmacro %}
    {% if group is none %}
        <h1 class="fr-h2">{% trans %}Créer un groupe{% endtrans %}</h1>
        <form id="group-form" action="{{ url_for("admin.create_group") }}" method="post">
            {% include 'admin/group_form_content.html'%}
            <div class="fr-mt-4w">
                <button type="submit" class="fr-btn">{% trans %}Créer le groupe{% endtrans %}</button>
                <a class="fr-btn fr-btn--secondary" href="{{ url_for("admin.manage_groups") }}">{% trans %}Annuler{% endtrans %}</a>
            </div>
        </form>
    {% else %}
        <h1 class="fr-h2">{% trans %}Modifier{% endtrans %} <em>{{group.name }}</em></h1>
        <p>{% trans group_name=group.name, group_created=group.created_at, group_updated=group.updated_at %}{{ group_name }} a été créé le {{ group_created }} et modifié le {{ group_updated }}.{% endtrans %}</p>
        <form id="group-form" action="{{ url_for("admin.edit_group", group=group) }}" method="post">
            {% include 'admin/group_form_content.html'%}
            <div class="fr-mt-4w">
                <button type="submit" class="fr-btn fr-btn--primary">{% trans %}Enregistrer{% endtrans %}</button>
                <a class="fr-btn fr-btn--secondary" href="{{ url_for("admin.group_infos", group=group) }}">{% trans %}Annuler{% endtrans %}</a>
            </div>
        </form>
    {% endif %}
{% endblock %}
