{% extends 'layout.html' %}

{% block main %}
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1"></button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{{ url_for('admin.home') }}">{% trans %}Menu Admin{% endtrans %}</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{{ url_for('admin.manage_groups') }}">{% trans %}Groupes{% endtrans %}</a>
                </li>
            </ol>
        </div>
    </nav>
    <form class="fr-search-bar", id="groupSearchForm", name="search_group" role="search" action="{{ url_for("admin.manage_groups") }}" method="post">
        {% include 'meeting/csrf.html' %}
        {{ form.search.label(class_="fr-label") }}
        {{ form.search(class_="fr-input")  }}
        <button title="{% trans %}Rechercher une réunion{% endtrans %}" type="submit" class="fr-btn"></button>
    </form>
    {% set groups = groups_page.items %}
    {% if not groups %}
        <br>
        <p>{% trans %}Aucun groupe ne correspond à cette recherche.{% endtrans %}</p>
    {% else %}
        {% include 'admin/group_table.html' %}
        <nav>
            {% if groups_page.has_prev %}
                <a href="{{ url_for('admin.manage_groups', groups_page=groups_page.prev_num)}}">Précédent</a>
            {% endif %}

            <span>Page {{ groups_page.page }} / {{ groups_page.pages }}</span>

            {% if groups_page.has_next %}
                <a href="{{ url_for('admin.manage_groups', groups_page=groups_page.next_num)}}">Suivant</a>
            {% endif %}
        </nav>
    {% endif %}
{% endblock %}
