{% extends 'layout.html' %}

{% block main %}
    {% from 'admin/macros.html' import yesno, value %}
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1"></button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{{ url_for('admin.home') }}">{% trans %}Menu Admin{% endtrans %}</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{{ url_for('admin.manage_groups') }}">{% trans %}Groupes{% endtrans %}</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{{ url_for('admin.group_infos', group=group) }}">{{ group.name }}</a>
                </li>
            </ol>
        </div>
    </nav>
    <h5><em>{{  group.name }}</em></h5>
    <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--icon-left">
        <li>
            <a href="{{ url_for("admin.edit_group", group=group) }}" rel="noopener" class="fr-btn fr-btn--secondary fr-icon-edit-line" title="{% trans group_name=group.name %}Éditer {{ group_name }}{% endtrans %}">
                {% trans %}Modifier{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ url_for("admin.manage_group_members", group=group) }}" rel="noopener" class="fr-btn fr-btn--secondary fr-icon-team-line" title="{% trans group_name=group.name %}Gérer les membres de {{ group_name }}{% endtrans %}">
                {% trans %}Gérer les membres{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ url_for("admin.add_group_members", group=group) }}" rel="noopener" class="fr-btn fr-btn--secondary fr-icon-user-add-line" title="{% trans group_name=group.name %}Ajouter des membres à {{ group_name }}{% endtrans %}">
                {% trans %}Ajouter des membres{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ url_for("admin.delete_group", group=group) }}" rel="noopener" class="fr-btn fr-btn--secondary fr-fi-delete-line" title="{% trans group_name=group.name %}Supprimer {{ group_name }}{% endtrans %}">
                {% trans %}Supprimer{% endtrans %}
            </a>
        </li>
    </ul>
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12">
            <div class="fr-table fr-table--no-caption" id="selected-user-component">
                <div class="fr-table__wrapper ">
                    <div class="fr-table__container">
                        <div class="fr-table__content">
                            <table id="selected-user">
                                <tbody class="">
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}ID{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ group.id }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Nom{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center fr-cell--multiline">
                                            {{ group.name }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}SIP{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center fr-cell--multiline">
                                            {{ yesno(group.enable_sip) }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Ajout de document{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center fr-cell--multiline">
                                            {{ yesno(group.enable_file_sharing) }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Transcription{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ yesno(group.enable_transcription) }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Création{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ value(group.created_at) }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Modification{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ value(group.updated_at) }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Nombre de membres{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ value(group.members | length) }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
