{% extends 'layout.html' %}

{% block main %}
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1"></button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{{ url_for('admin.home') }}">{% trans %}Menu Admin{% endtrans %}</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{{ url_for('admin.manage_groups') }}">{% trans %}Groupes{% endtrans %}</a>
                </li>
                {% if group is none %}
                    <li>
                        <a class="fr-breadcrumb__link" href="{{ url_for('admin.create_group') }}">{% trans %}Créer groupe{% endtrans %}</a>
                    </li>
                {% else %}
                    <li>
                        <a class="fr-breadcrumb__link" href="{{ url_for('admin.group_infos', group=group) }}">{{ group.name }}</a>
                    </li>
                    <li>
                        <a class="fr-breadcrumb__link" href="{{ url_for('admin.affiliation_management', group=group) }}">
                            {% trans %}Gérer les académies de{% endtrans %} {{ group.name }}
                        </a>
                    </li>
                {% endif %}
            </ol>
        </div>
    </nav>

    <h4>{{ form.academy.label }}</h4>
    <p class="fr-hint-text">{{ form.academy.description }}</p>
    <form id="addAcademy" name="search_meeting" action="{{ url_for("admin.affiliation_management", group=group) }}" method="post">
        {% include 'meeting/csrf.html' %}
        {{ form.academy(class_="fr-select", onchange="this.form.submit()") }}
    </form>
    {% if not group.academic_codes %}
        <p>{% trans %}Aucune académie sélectionnée{% endtrans %}</p>
    {% else %}
        <p class="fr-table__detail">
            {% trans trimmed count=group.academic_codes|length %}
                {{ count }} académie sélectionnée
                {% pluralize %}
                {{ count }} académies sélectionnées
            {% endtrans %}
        </p>
        {% for academic_code in group.academic_codes %}
            <a href="{{ url_for("admin.remove_academy", group=group, academic_code=academic_code) }}" class="fr-tag fr-tag--dismiss" aria-label="{% trans %}Retirer {{ academic_code }}{% endtrans %}">
                {{ academic_code }} {{ codaca.get(academic_code, "") }}
            </a>
        {% endfor %}
    {% endif %}
{% endblock %}
