{% extends 'layout.html' %}
{% from 'admin/macros.html' import breadcrumb %}

{% from 'admin/macros.html' import yesno, value %}
{% macro render_field(field, description=None, disabled=False) %}
    <div class="fr-container--fluid">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-4">
                {{ field.label(class_="fr-label") }}
                <div class="fr-input-group">
                    <p class="fr-hint-text">{{ description or field.description }}</p>
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p class="fr-error-text">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="fr-col-8">
                {% if field.type == 'SelectField' %}
                    <fieldset class="fr-segmented" name="{{field.name}}-value">
                        <div class="fr-segmented__elements">
                            <div class="fr-segmented__element">
                                <input {% if disabled %}disabled{% elif field.data is sameas true %}checked{% endif %} value="True" type="radio" id="{{field.name}}-true" name="{{field.name}}">
                                <label class="fr-label" for="{{field.name}}-true">
                                    {% if disabled %}
                                        <p class="fr-badge fr-badge--warning" title="{% trans %}Non disponible : aucun serveur SIP configuré (FQDN_SIP_SERVER){% endtrans %}">{% trans %}OUI{% endtrans %}</p>
                                    {% else %}
                                        {{ yesno(True) }}
                                    {% endif %}
                                </label>
                            </div>
                            <div class="fr-segmented__element">
                                <input {% if field.data is none %}checked{% endif %} value="None" type="radio" id="{{field.name}}-none" name="{{field.name}}">
                                <label class="fr-label" for="{{field.name}}-none">
                                    {{ yesno(None) }}
                                </label>
                            </div>
                            <div class="fr-segmented__element">
                                <input {% if field.data is sameas false %}checked{% endif %} value="False" type="radio" id="{{field.name}}-false" name="{{field.name}}">
                                <label class="fr-label" for="{{field.name}}-false">
                                    {{ yesno(False) }}
                                </label>
                            </div>
                        </div>
                    </fieldset>
                {% else %}
                    {{ field(class_="fr-input", **kwargs) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}

{% block main %}
    {% set segments = [
    {'href': url_for('admin.home'), 'label': _('Menu Admin')},
    {'href': url_for('admin.manage_groups'), 'label': _('Groupes')},
    ] %}
    {% if group is none %}
        {% set segments = segments + [{'href': url_for('admin.create_group'), 'label': _('Créer groupe')}] %}
    {% else %}
        {% set segments = segments + [
        {'href': url_for('admin.group_infos', group=group), 'label': group.name},
        {'href': url_for('admin.edit_group', group=group), 'label': _('Modifier') ~ ' ' ~ group.name},
        ] %}
    {% endif %}
    {{ breadcrumb(segments) }}
    {% if group is none %}
        <h1 class="fr-h2">{% trans %}Créer un groupe{% endtrans %}</h1>
        <form id="group-form" action="{{ url_for("admin.create_group") }}" method="post">
            {% include 'admin/group_form_content.html'%}
            <div class="fr-mt-4w">
                <button type="submit" class="fr-btn">{% trans %}Créer le groupe{% endtrans %}</button>
                <a class="fr-btn fr-btn--secondary" href="{{ url_for("admin.manage_groups") }}">{% trans %}Annuler{% endtrans %}</a>
            </div>
        </form>
    {% else %}
        <h1 class="fr-h2">{% trans %}Modifier{% endtrans %} <em>{{group.name }}</em></h1>
        <p>{% trans group_name=group.name, group_created=group.created_at, group_updated=group.updated_at %}{{ group_name }} a été créé le {{ group_created }} et modifié le {{ group_updated }}.{% endtrans %}</p>
        <form id="group-form" action="{{ url_for("admin.edit_group", group=group) }}" method="post">
            {% include 'meeting/csrf.html' %}
            {% include 'admin/group_form_content.html'%}
            <div class="fr-mt-4w">
                <button type="submit" class="fr-btn fr-btn--primary">{% trans %}Enregistrer{% endtrans %}</button>
                <a class="fr-btn fr-btn--secondary" href="{{ url_for("admin.group_infos", group=group) }}">{% trans %}Annuler{% endtrans %}</a>
            </div>
        </form>
    {% endif %}
{% endblock %}
