<div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12">
        <div class="fr-table fr-table--no-caption" id="meetings-component">
            <div class="fr-table__wrapper ">
                <div class="fr-table__container">
                    <div class="fr-table__content">
                        <table id="meetings">
                            <thead class="">
                                <tr class="">
                                    <th class="fr-col fr-cell--center">{% trans %}ID{% endtrans %}</th>
                                    <th class="fr-col fr-cell--center">{% trans %}Nom{% endtrans %}</th>
                                    <th class="fr-col fr-cell--center">{% trans %}Visio-code{% endtrans %}</th>
                                    <th class="fr-col fr-cell--center">{% trans %}Consulter{% endtrans %}</th>
                                </tr>
                            </thead>
                            <tbody class="">
                                {% for meeting in meetings %}
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {{ meeting.id }}
                                        </td>
                                        <td class="fr-col fr-cell--center fr-cell--multiline">
                                            {{ meeting.name }}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ meeting.visio_code }}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            <a href="{{ url_for("admin.meeting_infos",  meeting=meeting) }}" rel="noopener" class="fr-btn fr-btn--secondary fr-icon-eye-line" title="{% trans meeting_name=meeting.name %}Éditer {{ meeting_name }}{% endtrans %}"></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
