{% extends 'layout.html' %}

{% block main %}
    {% from 'admin/macros.html' import yesno, value %}
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1"></button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{{ url_for('admin.home') }}">{% trans %}Menu Admin{% endtrans %}</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{{ url_for('admin.manage_meetings') }}">{% trans %}Réunions{% endtrans %}</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{{ url_for('admin.meeting_infos', meeting=meeting) }}">{{ meeting.name }}</a>
                </li>
            </ol>
        </div>
    </nav>
    <h5>{{ meeting.name }}</h5>
    <div class="fr-grid-row">
        <div class="fr-col meeting-room">
            {% include 'meeting/row.html' %}
        </div>
    </div>
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12">
            <div class="fr-table fr-table--no-caption" id="selected-meeting-component">
                <div class="fr-table__wrapper ">
                    <div class="fr-table__container">
                        <div class="fr-table__content">
                            <table id="selected-meeting">
                                <tbody class="">
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}ID{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ meeting.id }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Nom{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center fr-cell--multiline">
                                            {{ meeting.name }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans username=meeting.owner.fullname %}Propriétaire{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center fr-cell--multiline">
                                            {{ meeting.owner.fullname }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Réunion silencieuse (shadow_meeting){% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ yesno(meeting.is_shadow) }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Dernière connexion{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ value(meeting.last_connection_utc_datetime) }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Création{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ value(meeting.created_at) }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Dernière modification{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ value(meeting.updated_at) }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}n° de téléphone{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ value(meeting.dialNumber) }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}PIN{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ value(meeting.voiceBridge) }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Code de connexion (visio_code){% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ value(meeting.visio_code) }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Nombre maximal de participants{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ value(meeting.maxParticipants) }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Url de redirection après la réunion{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ value(meeting.logoutUrl) }}
                                        </td>
                                    </tr>

                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Durée maximale (minutes){% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ value(meeting.duration) }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Texte de bienvenue{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ value(meeting.welcome) }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Message à l'attention des modérateurs{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ value(meeting.moderatorOnlyMessage) }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Enregistrement automatique{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ yesno(meeting.autoStartRecording) }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Enregistrement manuel{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ yesno(meeting.allowStartStopRecording) }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Génération de résumé (IA){% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ yesno(meeting.ai_summary) }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Caméras visibles par les modérateurs uniquement{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ yesno(meeting.webcamsOnlyForModerator) }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Participants muets à leur arrivée{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ yesno(meeting.muteOnStart) }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Caméras des participants{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ yesno(not meeting.lockSettingsDisableCam) }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Micros des participants{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ yesno(not meeting.lockSettingsDisableMic) }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Discussions privées{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ yesno(not meeting.lockSettingsDisablePrivateChat) }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Discussion publique (tchat){% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ yesno(not meeting.lockSettingsDisablePublicChat) }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Prise de note collaborative{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ yesno(not meeting.lockSettingsDisableNote) }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Salle d'attente{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ yesno(meeting.guestPolicy) }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'meeting/modals/delete.html' %}
    {% include 'meeting/modals/invite.html' %}
{% endblock %}
