<div class="fr-py-3w main-connected-actions">
    <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col">
                <a class="fr-btn fr-btn--delete" href="{{ url_for("public.welcome") }}" title="{% trans %}Quitter la page d'administration{% endtrans %}">
                    {% trans %}Quitter la page d'administration{% endtrans %}
                </a>
            </div>
            <div class="fr-col">
                {% if request.endpoint != "admin.home" %}
                    <a class="fr-btn" href="{{ url_for("admin.home") }}" title="{% trans %}Retour au menu d'administration{% endtrans %}">
                        {% trans %}Retour au menu d'administration{% endtrans %}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<br>
<br>
