{% macro _url(n) %}{{ url_for(page_endpoint, group=group, page=n, search=search) if group is defined else url_for(page_endpoint, page=n, search=search) }}{% endmacro %}
{% set start_page = [1, page_obj.page - 2]|max %}
{% set end_page = [page_obj.pages, page_obj.page + 2]|min %}
<nav role="navigation" class="fr-pagination" aria-label="pagination">
    <ul class="fr-pagination__list pagination--center">
        <li>
            {% if page_obj.page > 1 %}
                <a class="fr-pagination__link fr-pagination__link--first" href="{{ _url(1) }}" title="Première page">{% trans %}Première page{% endtrans %}</a>
            {% else %}
                <a class="fr-pagination__link fr-pagination__link--first" aria-disabled="true" role="link" title="Première page">{% trans %}Première page{% endtrans %}</a>
            {% endif %}
        </li>
        <li>
            {% if page_obj.has_prev %}
                <a class="fr-pagination__link fr-pagination__link--prev fr-pagination__link--lg-label" href="{{ _url(page_obj.prev_num) }}" title="Page précédente">{% trans %}Page précédente{% endtrans %}</a>
            {% else %}
                <a class="fr-pagination__link fr-pagination__link--prev fr-pagination__link--lg-label" aria-disabled="true" role="link" title="Page précédente">{% trans %}Page précédente{% endtrans %}</a>
            {% endif %}
        </li>
        {% for p in range(start_page, end_page + 1) %}
            <li>
                {% if p == page_obj.page %}
                    <a class="fr-pagination__link" aria-current="page" title="Page {{ p }}">{{ p }}</a>
                {% else %}
                    <a class="fr-pagination__link" href="{{ _url(p) }}" title="Page {{ p }}">{{ p }}</a>
                {% endif %}
            </li>
        {% endfor %}
        <li>
            {% if page_obj.has_next %}
                <a class="fr-pagination__link fr-pagination__link--next fr-pagination__link--lg-label" href="{{ _url(page_obj.next_num) }}" title="Page suivante">{% trans %}Page suivante{% endtrans %}</a>
            {% else %}
                <a class="fr-pagination__link fr-pagination__link--next fr-pagination__link--lg-label" aria-disabled="true" role="link" title="Page suivante">{% trans %}Page suivante{% endtrans %}</a>
            {% endif %}
        </li>
        <li>
            {% if page_obj.page < page_obj.pages %}
                <a class="fr-pagination__link fr-pagination__link--last" href="{{ _url(page_obj.pages) }}" title="Dernière page">{% trans %}Dernière page{% endtrans %}</a>
            {% else %}
                <a class="fr-pagination__link fr-pagination__link--last" aria-disabled="true" role="link" title="Dernière page">{% trans %}Dernière page{% endtrans %}</a>
            {% endif %}
        </li>
    </ul>
</nav>
