{% extends 'layout.html' %}

{% block main %}
    {% set meeting = selected_meeting %}
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1"></button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{{ url_for('admin.home') }}">Menu Admin</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{{ url_for('admin.manage_meetings') }}">Réunions</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{{ url_for('admin.meeting_infos', meeting=meeting) }}">{{ meeting.name }}</a>
                </li>
            </ol>
        </div>
    </nav>
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12">
            <div class="fr-table fr-table--no-caption" id="selected-meeting-component">
                <div class="fr-table__wrapper ">
                    <div class="fr-table__container">
                        <div class="fr-table__content">
                            <table id="selected-meeting">
                                <tbody class="">
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Identifiant{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ meeting.id }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Nom{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ meeting.name }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Éditer la réunion{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            <a href="{{ url_for("meetings.edit_meeting", meeting=meeting, admin_mode=admin_mode) }}" class="fr-btn fr-btn--secondary fr-icon-edit-line" title="{% trans meeting_name=meeting.name %}Modifier {{ meeting_name }}{% endtrans %}" aria-label="{% trans meeting_name=meeting.name %}Modifier {{ meeting_name }}{% endtrans %}">
                                                {% trans meeting_name=meeting.name %}Modifier {{ meeting_name }}{% endtrans %}
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Propriétaire{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ meeting.owner.fullname }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Réunion silencieuse (shadow_meeting){% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {% set bool_value = meeting.is_shadow %}
                                            {% include '/admin/true_false_display.html' %}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Dernière connexion{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ meeting.last_connection_utc_datetime }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Création{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ meeting.created_at }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Dernière modification{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ meeting.updated_at }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}n° de téléphone{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ meeting.dialNumber }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}PIN{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ meeting.voiceBridge }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Code de connexion (visio_code){% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ meeting.visio_code }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Nombre maximal de participants{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ meeting.maxParticipants }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Url de redirection après la réunion{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ meeting.logoutUrl }}
                                        </td>
                                    </tr>

                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Durée maximale (minutes){% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ meeting.duration }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Texte de bienvenue{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ meeting.welcome }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Message à l'attention des modérateurs{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ meeting.moderatorOnlyMessage }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Enregistrement automatique{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {% set bool_value = meeting.autoStartRecording %}
                                            {% include '/admin/true_false_display.html' %}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Enregistrement manuel{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {% set bool_value = meeting.allowStartStopRecording %}
                                            {% include '/admin/true_false_display.html' %}
                                        </td>
                                    </tr><tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Caméras visibles par les modérateurs uniquement{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {% set bool_value = meeting.webcamsOnlyForModerator %}
                                            {% include '/admin/true_false_display.html' %}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Participants muets à leur arrivée{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {% set bool_value = meeting.muteOnStart %}
                                            {% include '/admin/true_false_display.html' %}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Caméras des participants{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {% set bool_value = meeting.lockSettingsDisableCam %}
                                            {% include '/admin/true_false_display.html' %}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Micros des participants{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {% set bool_value = meeting.lockSettingsDisableMic %}
                                            {% include '/admin/true_false_display.html' %}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Discussions privées{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {% set bool_value = meeting.lockSettingsDisablePrivateChat %}
                                            {% include '/admin/true_false_display.html' %}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Discussion publique (tchat){% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {% set bool_value = meeting.lockSettingsDisablePublicChat %}
                                            {% include '/admin/true_false_display.html' %}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Prise de note collaborative{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {% set bool_value = meeting.lockSettingsDisableNote %}
                                            {% include '/admin/true_false_display.html' %}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Salle d'attente{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {% set bool_value = meeting.guestPolicy%}
                                            {% include '/admin/true_false_display.html' %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'meeting/modals/delete.html' %}
{% endblock %}
