{% extends 'layout.html' %}

{% block main %}
    {% include 'admin/options.html' %}
    <form class="fr-search-bar", id="userSearchForm", name="search_user" role="search" action="{{ url_for("admin.manage_users") }}" method="post">
        {% include 'meeting/csrf.html' %}
        <button title="{% trans %}Rechercher un utilisateur{% endtrans %}" type="submit" class="fr-btn"></button>
        {{ form.search.label(class_="fr-label") }}
        {{ form.search(class_="fr-input")  }}
    </form>
    {% set users = users_page.items %}
    {% if not users %}
        <br>
        <p>{% trans %}Aucun utilisateur ne correspond à cette recherche.{% endtrans %}</p>
    {% else %}
        {% include 'admin/user_table.html' %}

        <nav>
            {% if users_page.has_prev %}
                <a href="{{ url_for('admin.manage_users', page=users_page.prev_num)}}">Précédent</a>
            {% endif %}

            <span>Page {{ users_page.page }} / {{ users_page.pages }}</span>

            {% if users_page.has_next %}
                <a href="{{ url_for('admin.manage_users', page=users_page.next_num)}}">Suivant</a>
            {% endif %}
        </nav>
    {% endif %}
{% endblock %}
