<div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12">
        <div class="fr-table fr-table--no-caption" id="users-component">
            <div class="fr-table__wrapper ">
                <div class="fr-table__container">
                    <div class="fr-table__content">
                        <table id="users">
                            <thead class="">
                                <tr class="">
                                    <th class="fr-col--xs fr-cell--center">{% trans %}ID{% endtrans %}</th>
                                    <th class="fr-col--xs fr-cell--center">{% trans %}Nom{% endtrans %}</th>
                                    <th class="fr-col--xs fr-cell--center">{% trans %}Prénom{% endtrans %}</th>
                                    <th class="fr-col--xs fr-cell--center">{% trans %}Email{% endtrans %}</th>
                                    <th class="fr-col--xs fr-cell--center">{% trans %}Consulter{% endtrans %}</th>
                                    {% if group and not add_members %}
                                        <th class="fr-col fr-cell--center">{% trans %}Supprimer{% endtrans %}</th>
                                    {% endif %}
                                    {% if add_members %}
                                        <th class="fr-col fr-cell--center fr-cell--multiline">{% trans %}Ajouter au groupe{% endtrans %}</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody class="">
                                {% for user in users %}
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {{ user.id }}
                                        </td>
                                        <td class="fr-col fr-cell--center fr-cell--multiline">
                                            {{ user.family_name }}
                                        </td>
                                        <td class="fr-col fr-cell--center fr-cell--multiline">
                                            {{ user.given_name }}
                                        </td>
                                        <td class="fr-col fr-cell--center fr-cell--multiline">
                                            {{ user.email }}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            <a href="{{ url_for("admin.user_infos", user=user) }}" rel="noopener" class="fr-btn fr-btn--secondary fr-icon-eye-line" title="{% trans username=user.fullname %}{{ username }} infos{% endtrans %}"></a>
                                        </td>
                                        {% if group and not add_members %}
                                            <td class="fr-col--xs fr-cell--center">
                                                <form method="post" action="{{ url_for("admin.remove_member", group=group, member=user, search=search) }}">
                                                    {% include 'meeting/csrf.html' %}
                                                    <button type="submit" class="fr-btn fr-btn--secondary fr-fi-delete-line" title="{% trans %}Supprimer le membre{% endtrans %}"></button>
                                                </form>
                                            </td>
                                        {% endif %}
                                        {% if add_members %}
                                            <td class="fr-col--xs fr-cell--center">
                                                {% if user not in group.members %}
                                                    <form method="post" action="{{ url_for("admin.add_group_members", group=group, user=user, search=search) }}">
                                                        {% include 'meeting/csrf.html' %}
                                                        <button type="submit" class="fr-btn fr-btn--secondary fr-icon-user-add-line" title="{% trans %}Ajouter le membre{% endtrans %}"></button>
                                                    </form>
                                                {% else %}
                                                    <button type="button" class="fr-btn fr-btn--secondary fr-icon-user-add-line" title="{% trans %}Déjà membre{% endtrans %}" disabled></button>
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
