{% extends 'layout.html' %}

{% block main %}
    {% from 'admin/macros.html' import yesno, value %}
    {% set meetings = user.meetings %}
    {% set groups = user.groups %}
    {% set delegated_meetings = user.get_all_delegated_meetings %}
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1"></button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{{ url_for('admin.home') }}">{% trans %}Menu Admin{% endtrans %}</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{{ url_for('admin.manage_users') }}">{% trans %}Utilisateur{% endtrans %}</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{{ url_for('admin.user_infos', user=user) }}">{{ user.fullname }}</a>
                </li>
            </ol>
        </div>
    </nav>
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12">
            <div class="fr-table fr-table--no-caption" id="selected-user-component">
                <div class="fr-table__wrapper ">
                    <div class="fr-table__container">
                        <div class="fr-table__content">
                            <table id="selected-user">
                                <tbody class="">
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Identifiant{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ user.id }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Nom{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ user.fullname }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Email{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ user.email }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Alias{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ value(user.preferred_username) }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Dernière connexion{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ value(user.last_connection_utc_datetime) }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Création{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ value(user.created_at) }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}Admin{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ yesno(user.admin) }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}NC Locator{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ value(user.nc_locator) }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}NC Login{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ value(user.nc_login) }}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="fr-col fr-cell--center">
                                            {% trans %}NC Dernière connexion{% endtrans %}
                                        </td>
                                        <td class="fr-col fr-cell--center">
                                            {{ value(user.nc_last_auto_enroll) }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h5>{% trans fullname = user.fullname %}Liste des réunions de {{ fullname }}{% endtrans %}</h5>
    {% if meetings %}
        {% include 'admin/meeting_table.html' %}
    {% else %}
        <p>{% trans fullname = user.fullname %}{{ fullname }} n'a pas créé de réunion.{% endtrans %}</p>
    {% endif %}
    {% if delegated_meetings %}
        <h5>{% trans %}Réunions déléguées{% endtrans %}</h5>
        {% with meetings=delegated_meetings %}
            {% include 'admin/meeting_table.html' %}
        {% endwith %}
    {% endif %}
    <h5>{% trans fullname = user.fullname %}Liste des groupes de {{ fullname }}{% endtrans %}</h5>
    {% if groups %}
        {% include 'admin/group_table.html' %}
    {% else %}
        <p>{% trans fullname = user.fullname %}{{ fullname }} n'appartient à aucun groupe.{% endtrans %}</p>
    {% endif %}
{% endblock %}
