name: Run linters

on:
  pull_request:
    branches:
      - production
      - main
  push:
    branches:
      - production
      - main

jobs:
  linter:
    name: run prek
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: 1
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v5
      - run: uvx prek run --all-files
