---
name: Documentation
on:
  push:
    branches:
      - production
      - main
  pull_request:
    branches:
      - production
      - main
jobs:
  tests:
    name: ${{ matrix.python }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v5

      - uses: astral-sh/setup-uv@v5

      - name: Build documentation
        run: uv run --group doc sphinx-build documentation build/sphinx/html
