authlib==1.3.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
beautifulsoup4==4.12.3 ; python_full_version >= "3.8.1" and python_version < "4"
black==23.12.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
blinker==1.7.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
canaille[oidc]==0.0.42 ; python_full_version >= "3.8.1" and python_version < "4.0"
cffi==1.16.0 ; python_full_version >= "3.8.1" and python_version < "4.0" and platform_python_implementation != "PyPy"
cfgv==3.4.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
click==8.1.7 ; python_full_version >= "3.8.1" and python_version < "4.0"
colorama==0.4.6 ; python_full_version >= "3.8.1" and python_version < "4.0" and (sys_platform == "win32" or platform_system == "Windows")
coverage==7.4.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
coverage[toml]==7.4.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
cryptography==42.0.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
defusedxml==0.7.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
distlib==0.3.8 ; python_full_version >= "3.8.1" and python_version < "4.0"
exceptiongroup==1.2.0 ; python_full_version >= "3.8.1" and python_version < "3.11"
faker==21.0.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
filelock==3.13.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
flake8==7.0.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
flask-webtest==0.1.4 ; python_full_version >= "3.8.1" and python_version < "4.0"
flask-wtf==1.2.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
flask==3.0.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
freezegun==1.4.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
identify==2.5.33 ; python_full_version >= "3.8.1" and python_version < "4.0"
importlib-metadata==7.0.1 ; python_full_version >= "3.8.1" and python_version < "3.10"
iniconfig==2.0.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
itsdangerous==2.1.2 ; python_full_version >= "3.8.1" and python_version < "4.0"
jinja2==3.1.3 ; python_full_version >= "3.8.1" and python_version < "4.0"
json5==0.9.14 ; python_full_version >= "3.8.1" and python_version < "4.0"
markupsafe==2.1.4 ; python_full_version >= "3.8.1" and python_version < "4.0"
mccabe==0.7.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
nodeenv==1.8.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
packaging==23.2 ; python_full_version >= "3.8.1" and python_version < "4.0"
pathspec==0.12.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
platformdirs==4.1.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
pluggy==1.3.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
portpicker==1.6.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
pre-commit==3.5.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
psutil==5.9.8 ; python_full_version >= "3.8.1" and python_version < "4.0"
pycodestyle==2.11.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
pycparser==2.21 ; python_full_version >= "3.8.1" and python_version < "4.0" and platform_python_implementation != "PyPy"
pyflakes==3.2.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
pytest-cov==4.1.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
pytest-dotenv==0.5.2 ; python_full_version >= "3.8.1" and python_version < "4.0"
pytest-iam==0.0.6 ; python_full_version >= "3.8.1" and python_version < "4.0"
pytest-mock==3.12.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
pytest==7.4.4 ; python_full_version >= "3.8.1" and python_version < "4.0"
python-dateutil==2.8.2 ; python_full_version >= "3.8.1" and python_version < "4.0"
python-dotenv==1.0.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
pyyaml==6.0.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
setuptools==69.0.3 ; python_full_version >= "3.8.1" and python_version < "4.0"
six==1.16.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
soupsieve==2.5 ; python_full_version >= "3.8.1" and python_version < "4"
tomli==2.0.1 ; python_full_version >= "3.8.1" and python_full_version <= "3.11.0a6"
typing-extensions==4.9.0 ; python_full_version >= "3.8.1" and python_version < "3.11"
virtualenv==20.25.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
waitress==2.1.2 ; python_full_version >= "3.8.1" and python_version < "4"
webob==1.8.7 ; python_full_version >= "3.8.1" and python_version < "4"
webtest==3.0.0 ; python_full_version >= "3.8.1" and python_version < "4"
werkzeug==3.0.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
wsgidav==4.3.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
wtforms==3.1.2 ; python_full_version >= "3.8.1" and python_version < "4.0"
zipp==3.17.0 ; python_full_version >= "3.8.1" and python_version < "3.10"
